#menu-usuario #boton-usuario {
  padding: 0.2em 0.5em;
}

#menu-usuario #boton-usuario .nombre {
  display: none;
}

#cuestionario {
  display: flex;
  height: 100%;
}

#header {
  padding: 0.6rem 1rem 0.6rem 1rem;
}

#header .btn-atras {
  padding: 0.4em 0.8em;
  color: #000;
  background: #95b7d3;
  background: #cedbe8;
  background: #f3f5f7;
  margin-right: 1em;
  border-radius: 0.5em;
}
#header .btn-atras .mdi {
  font-size: 1.8em;
  line-height: 1em;
  color: #37474F;
}

#secciones {
  width: 17em;
  min-width: 17rem;
  min-width: 17rem;
  padding: 0.5em;
  font-size: 0.9em;
  margin-top: 1.5rem;
  padding: 0em 1em 0 0;
  height: calc(100vh - 4rem);
}

#secciones ul {
  padding: 0.5em 0;
}

#secciones ul li {
  margin-bottom: 0.2em;
  border-radius: 2em;
}

#secciones ul li a {
  padding: 0.6em 1em 0.6em 1.3em;
  display: block;
  border-radius: 1.3em;
  line-height: 1.2em;
  color: inherit;
  border-radius: 0 1.3em 1.3em 0;
  color: #444;
}

#secciones ul li a:hover {
  color: #000;
}

#secciones ul li a.activo {
  background-color: #d4dcdf;
  color: #000;
}

#secciones ul li a.ui-droppable-hover {
  background-color: #FFF9C4;
  transition: all 160ms;
}

#preguntas .ficha {
  padding: 0;
  border-radius: 0.3em;
  padding-top: 1em;
}

#preguntas .ficha.destacado header {
  background-color: #d9e6f0 !important;
  transition: background-color 200ms;
}

#preguntas .ficha header {
  background: #CFD8DC;
  border-radius: 1em 1em 1em 0;
  color: #455A64;
  padding-left: 1em;
  position: sticky;
  top: 0;
  transition: border-radius 400ms;
  padding: 0.5em;
  z-index: 1;
  padding-left: 1.3em;
  padding-right: 0.55em;
  border-radius: 2em 2em 2em 0;
}

#preguntas .ficha header.top {
  border-radius: 0em 0em 1em 0;
  transition: none;
}

#preguntas .ficha header .principal {
  align-items: center;
}

#preguntas .ficha header .principal .titulo .nombre {
  padding: 0;
  font-weight: 500;
}

#preguntas .ficha header .principal .icono .mdi {
  font-size: 1.4em;
  color: #78909C;
}

#preguntas .ficha header .opciones .opcion a {
  border-radius: 1.3em;
  color: #20364c;
  padding: 0.1em 0.9em;
  background-color: #f2f5f8;
}

#preguntas .ficha header .opciones .opcion a:hover {
  background-color: #FFF;
}

#preguntas .ficha header .opciones .opcion.oculta {
  visibility: hidden;
}

#preguntas .ficha header:hover .opciones .opcion.oculta .mdi {
  color: #3c4f63;
}

#preguntas .ficha header:hover .opciones .opcion.oculta {
  visibility: visible;
}

#preguntas .ficha.lista main {
  border-left: 0.3em solid #CFD8DC;
  border-radius: 0 0 0 0.3em;
  padding: 0.2em 0.6em 0.5em 0.7em;
}

#preguntas .lista .item.destacada {
  transition: background-color 400ms;
  background-color: #fffeed;
}

#preguntas .lista .items .item .informacion .texto .secundario {
  margin-top: 0.5em;
}

#preguntas .lista .item .informacion .texto .secundario .chip {
  font-size: 0.85rem;
}

#preguntas .lista .item {
  transition: background-color 1000ms;
  border-radius: 0.7em;
  position: relative;
  background-color: #FFF;
  box-shadow: 0 0.1em 0.6em -0.5em #20364c;
  padding: 0.8em 1em 0.85em 0.7em;
  margin-top: 0.7rem;
  border: 1px solid #CCC;
}

#preguntas .lista .item .icono .drag {
  display: none;
}

#preguntas .lista .item .icono:hover .mdi {
  display: none;
}

#preguntas .lista .item .icono:hover .drag:active {
  cursor: grabbing;
}

#preguntas .lista .item .icono:hover .drag {
  display: block;
  cursor: grab;
}

#preguntas .lista .item:hover .opciones.ocultas {
  right: 0.7em;
}

#preguntas .lista .ui-sortable-placeholder {
  background-color: #d9e6f0;
  visibility: visible !important;
  border: none;
}

#preguntas .lista .item.ui-sortable-helper .opciones {
  visibility: hidden;
}

body {
  overflow: hidden;
}

#btn-restablecer {
  background-color: #bc5957;
  color: #FAFAFA;
}

#btn-restablecer:hover {
  background-color: #cc6967;
}

#secciones ul li a#btn-agregar-seccion {
  color: #01579B;
}

#lateral #conteo {
  font-size: 0.9rem;
}

#conteo ul li .linea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  padding: 0.1rem 0.6rem;
  font-weight: 600;
}

#conteo ul li .linea:hover {
  background-color: #EEE;
}

#conteo ul li .linea.activo {
  background-color: #f3c8c7;
}

#conteo ul li .linea .nombre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#conteo ul li .linea .conteo {
  display: flex;
  color: #444;
  font-weight: 600;
}
#conteo ul li .linea .conteo.error {
  color: red;
}

#conteo ul li ul {
  margin-bottom: 0.5em;
}

#menu-header li a.link-vista-previa {
  padding: 0.2em 0.7em;
  margin: 0 0.3em;
  font-size: 1rem;
  border-radius: 0.4em;
}
#menu-header li a.link-vista-previa .mdi {
  margin-right: 0;
}

#menu-header li a.link-vista-previa:hover {
  color: #2f5e83;
  background-color: #e5e9ec;
}

#menu-header {
  display: flex;
}
#menu-header li {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-header li.activo {
  border-bottom: 0.2em solid #bc5957;
}
#menu-header li.activo a {
  color: #ac4f4e;
}
#menu-header li.activo a .nombre {
  display: block;
}
#menu-header li a {
  display: flex;
  align-items: center;
  padding: 1em 1em 0.8em 1em;
  color: #3f5973;
  font-size: 0.95em;
}
#menu-header li a .mdi {
  font-size: 1.6em;
  margin-right: 0.3rem;
}
#menu-header li a:hover {
  color: #ac4f4e;
}

#body {
  padding: 0;
}

#lateral {
  height: calc(100vh - 4rem);
}

#contenido {
  margin: 0;
  padding: 0;
}

#head .izquierda {
  width: 17rem;
  max-width: 17rem;
  min-width: 17rem;
}

#menu-cuestionario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#menu-cuestionario #nombre-cuestionario {
  font-size: 1.1rem;
}

#head .derecha {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  display: flex;
  justify-content: flex-end;
}

#body.sin-menu #contenido #lateral {
  background: rgba(255, 255, 255, 0.4666666667);
}

.sin-menu #principal {
  background: #FFF;
  position: relative;
  max-width: calc(100vw - 40em);
}

#preguntas {
  padding-right: 0.5em;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 4rem);
}
#preguntas::-webkit-scrollbar {
  width: 10px;
}
#preguntas::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 0.3em;
}
#preguntas::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}

.navegador.parametro li a {
  display: flex;
  align-items: center;
}

.navegador.parametro li a .icono {
  margin-right: 0.5em;
}

.navegador.parametro li a .icono .mdi {
  font-size: 1.4em;
  line-height: 1em;
}

.navegador.parametro li a .color {
  border-radius: 0.3rem;
  min-width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.navegador.parametro .navegador.parametro {
  margin-left: 1em;
}

/*# sourceMappingURL=cuestionario.css.map */
