@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

* {
  font-family: "Noto Sans", "Tahoma", sans-serif;
}

#pagina {
  background: hsl(204, 20%, 96%);
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
}
#head.sin-menu {
  border-bottom: 1px solid #DDD;
}
#head > div {
  display: flex;
}
#head #logo {
  display: block;
  width: 100%;
  height: 4em;
  padding: 0.5em 1em;
}
#head #logo img {
  height: 100%;
  object-fit: contain;
}
#head .izquierda {
  width: 16rem;
}
#head .central {
  width: 100%;
}

#body {
  display: flex;
  padding: 0em 0 1em 0;
}
#body.sin-menu #contenido {
  width: 100%;
}
#body.sin-menu #contenido #main {
  overflow-y: auto;
  height: calc(100vh - 8.1rem);
}
#body.sin-menu #contenido #lateral {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  border-radius: 0;
}

#contenido {
  display: flex;
  flex-direction: row;
  border-radius: 0.9em;
  background: #FFF;
  width: calc(100% - 15rem);
}

#principal {
  width: 100%;
}

#main {
  overflow-y: scroll;
}
#main::-webkit-scrollbar {
  width: 10px;
}
#main::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 0.3em;
}
#main::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}
#main .ficha.sticky {
  position: sticky;
  top: 0;
  z-index: 99999;
}

#lateral {
  background: rgba(255, 255, 255, 0.1333333333);
  border-left: 1px solid #f0f3f4;
  border-left: 1px solid #EEE;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  padding: 1.2em 1em 1em 1em;
  font-size: 0.9em;
  height: calc(100vh - 6rem);
  overflow-y: auto;
}
#lateral::-webkit-scrollbar {
  width: 10px;
}
#lateral::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 0.3em;
}
#lateral::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}
#lateral .divider {
  border: 1px solid #EEEEEE;
  height: 0.01px;
  border-radius: 1em;
  margin: 1.2em;
  border-bottom-color: #F3F3F3;
}
#lateral .btn, #lateral .btn-flat {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
#lateral .principal {
  margin-bottom: 1em;
}
#lateral .principal .btn, #lateral .principal btn-flat {
  font-size: 1rem;
  margin-bottom: 0.3em;
}
#lateral .secundario {
  font-size: 0.95em;
}
#lateral .secundario .ficha > main {
  padding: 0;
}
#lateral .secundario .ficha > main .fila {
  margin: 0;
}
#lateral .secundario > .titulo {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  color: #424242;
}
#lateral .secundario > .titulo .mdi {
  font-size: 1.1em;
  margin-right: 0.3em;
  color: #616161;
  line-height: 1em;
}
#lateral .link {
  padding: 0.6em 1em;
  display: block;
  font-weight: 500;
  border-radius: 0.3em;
  margin-bottom: 0.2em;
  color: #456453;
  position: relative;
}
#lateral .link .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
  background: rgba(0, 0, 0, 0.0666666667);
}
#lateral .link .mdi {
  font-size: 1.4em;
  line-height: 1em;
  vertical-align: text-top;
  margin-right: 0.1em;
}
#lateral .link:hover {
  background: #EEE;
}
#lateral .link.activo {
  background: #E7E7E7;
}
#lateral .link.peligroso {
  color: #555;
}
#lateral .link.peligroso:hover {
  color: #E53935;
}

#menu {
  border-radius: 0 0.6em 0.6em 0;
  overflow: hidden;
  height: calc(100vh - 4em);
  display: flex;
  width: 15em;
  border-right: 1px solid #EEE;
}
#menu ul {
  width: 100%;
  padding: 0.5em 0.5em 1em 0em;
  display: flex;
  flex-direction: column;
}
#menu ul li.divider {
  margin: 0.3em 1em 0.5em 0em;
  border-top: 2px solid #CFD8DC;
}
#menu ul li {
  margin-bottom: 0.2rem;
}
#menu ul li a {
  font-weight: 500;
  color: #555;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  border-radius: 0em 2em 2em 0;
  letter-spacing: -0.01em;
  position: relative;
  border-bottom: 1px solid transparent;
  transition: background-color 100ms;
}
#menu ul li a .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .chevron {
  position: absolute;
  right: 2.5em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .chevron:hover {
  background: rgba(0, 0, 0, 0.0666666667);
}
#menu ul li a .chevron .mdi {
  margin-right: 0;
}
#menu ul li a .mdi {
  margin-right: 0.3em;
  font-size: 1.6em;
}
#menu ul li a.subactivo {
  background-color: #f2ebeb;
  border-bottom: 1px solid rgba(238, 214, 213, 0.2666666667);
}
#menu ul li a:hover {
  background-color: #edf3f7;
}
#menu ul li a.activo {
  background: #d4e2ed;
  color: #424242;
}
#menu ul li a.activo .numero {
  background: rgba(0, 0, 0, 0.1333333333);
  color: #455A64;
}
#menu ul li ul {
  padding: 0;
  width: calc(100% - 0.3rem);
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid #eed6d5;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0;
}
#menu ul li ul li.divider {
  margin: 0.1em 1.5em 0.3em 0em;
  border-top: 2px solid #f2ebeb;
}
#menu ul li ul li a {
  padding: 0.2em 1em 0.2em 1em;
}
#menu ul li ul li a .mdi {
  font-size: 1.3em;
}

#botones-usuario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#botones-usuario > li {
  position: relative;
  margin: 0.3em;
}
#botones-usuario > li > a {
  padding: 0.2em 1em;
  font-size: 1rem;
}
#botones-usuario > li > a .mdi {
  font-size: 1.6rem;
}
#botones-usuario > li ul {
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  min-width: 100%;
  background: #FFF;
  padding: 0.3em 0;
  border-radius: 0.3em;
}
#botones-usuario > li ul li:hover {
  background: #EEE;
}
#botones-usuario > li ul li a {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  color: #546E7A;
}
#botones-usuario > li ul li a .mdi {
  font-size: 1.6em;
  line-height: 1em;
  margin-right: 0.4em;
}
#botones-usuario > li ul.activo {
  display: block;
  right: 0;
}
#botones-usuario > li.activo #boton-usuario {
  outline: 2px solid #a5b8c0;
}
#botones-usuario > li.activo ul {
  display: block;
}

#menu-usuario #boton-usuario {
  background: #cedbe8;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}
#menu-usuario #boton-usuario .mdi {
  margin-left: 0.3em;
}

#header {
  padding: 0.6rem 1rem 0.6rem 1.3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 100%;
  overflow: hidden;
}
#header .izq {
  display: inline-flex;
  align-items: center;
  max-width: calc(100% - 15rem);
}
#header .izq.sola {
  max-width: 100%;
}
#header .izq > .mdi {
  color: #20364c;
  margin-right: 0.5em;
}
#header .opciones {
  display: flex;
  align-items: center;
}
#header .opciones .btn, #header .opciones .btn-flat {
  margin-left: 0.5rem;
}
#header .opciones .btn .mdi, #header .opciones .btn-flat .mdi {
  line-height: normal;
}
#header .mdi {
  font-size: 1.4em;
}
#header .btn-atras {
  padding: 0.3em 1.5em 0.3em 0.5em;
  color: #000;
}

.ficha .campo.lista .ficha main {
  padding: 0;
}

.ficha .campo.lista .ficha main .lista header {
  padding: 0;
  margin-bottom: 0;
}

.ficha .campo.lista .ficha footer {
  justify-content: flex-end;
}

/*# sourceMappingURL=layout.css.map */
