.puntaje_maximo.falta {
  color: red;
}
.tipo-parametro {
  margin-bottom: 1em;
}

.tipo-parametro .tipo-parametro {
  margin-left: 1em;
}
.tipo-parametro .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3em;
  position: relative;
  z-index: 2;
  background: #FFF;
}
.tipo-parametro .header .informacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tipo-parametro .header .informacion .nombre {
  margin-right: 1.5em;
}
.tipo-parametro .header .informacion .icono {
  margin-right: 0.5em;
  padding: 0 0.3em;
  border-radius: 0.3em;
  margin-right: 0.5rem;
  padding: 0 0.3rem 0 0.35rem;
  z-index: 2;
  margin-left: 0.25em;
}
.tipo-parametro .header .informacion .icono .mdi {
  font-size: 1.8em;
  position: relative;
}
.tipo-parametro .parametro > .header .informacion .icono {
  width: 1em;
  height: 1em;
}
.tipo-parametro .header > .opciones.ocultas {
  display: none;
}
.tipo-parametro .header:hover {
  z-index: 100;
  background: #F5F5F5;
}
.tipo-parametro .header:hover .opciones.ocultas {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0.3em;
  border-radius: 0.3em;
  background: #F5F5F5;
}
.tipo-parametro .header .opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tipo-parametro .header .opciones .opcion + .opcion {
  margin-left: 0.3em;
}
.tipo-parametro .header .opciones .opcion {
}
.tipo-parametro .header .opciones .opcion .btn {
  padding: 0.1em 1em 0.1em 0.6em;
}
.tipo-parametro .header .opciones .opcion .btn.solo {
  padding: 0.1em 0.6em;
}
.parametro .header .informacion .icono .mdi {
}
.parametro .header .informacion .icono .mdi {
  display: block;
  line-height: 1em;
}
.parametro:not(.agregar) > .header:hover {
  background: #F5F5F5;
}
.tipo-parametro .header:hover .informacion .icono .mdi {
  background: none;
}
.tipo-parametro > .header .informacion .nombre {
  font-weight: 600;
}
.tipo-parametro > .header .informacion .icono {
  margin: 0 0.6em 0 -0.1em;
}
.tipo-parametro > .header .informacion .icono .mdi {
  font-size: 1.6em;
  color: #37474F;
}
.parametro {
  position: relative;
}
.tipo-parametro .parametros {
  position: relative;
}
.parametro .header {
  border-radius: 1em 0 0 1em;
}
.tipo-parametro .parametros .parametro.agregar {
  height: 1.8rem;
  position: relative;
  z-index: 1;
}
.tipo-parametro .parametros .parametro.agregar .btn::before {
  content: "";
  position: absolute;
  top: -1.15em;
  left: -1.1em;
  border-left: 2px solid #DDD;
  height: 2.1em;
  z-index: 1;
}
.tipo-parametro .parametros .parametro.agregar .btn::after {
  content: "";
  position: absolute;
  border-top: 2px solid #DDD;
  width: 1em;
  height: 0;
  top: 0.8em;
  left: -1.1em;
}
.tipo-parametro .parametros .parametro.agregar:hover .btn::before,
.tipo-parametro .parametros .parametro.agregar:hover .btn::after {
  border-color: #607d8b;
}
.tipo-parametro .parametros.listo::before {
  height: calc(100% - 0.4em);
}
.tipo-parametro .parametros::before {
  content: "";
  position: absolute;
  top: -0.3em;
  left: 0em;
  border-left: 2px solid #DDD;
  height: calc(100% - 2.5em);
  z-index: 1;
}
.parametro:not(.agregar)::before {
  border-top: 2px solid #DDD;
  content: "";
  width: 0.8em;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
}
.parametro:hover > .tipo-parametro > .parametros .parametro::before,
.parametro:hover > .tipo-parametro > .parametros::before {
  border-color: #607d8b;
}
.tipo-parametro:hover > .parametros::before {
  border-color: #607d8b;
}
.tipo-parametro:hover > .parametros > .parametro:not(.agregar)::before {
  border-color: #607d8b;
}

.tipo-parametro .header {
  margin-left: 0;
}

.tipo-parametro .tipo-parametro > .header .informacion .nombre {
  font-size: 0.9em;
}
.tipo-parametro .tipo-parametro .header .informacion .icono .mdi {
  font-size: 1em;
}
.tipo-parametro .tipo-parametro .parametros {
  margin-left: 0.7em;
}

.tipo-parametro > .parametros {
  margin-left: 1em;
  padding-left: 1em;
}
