/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*  font: inherit;*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

a {
  color: #01579B;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #003969;
}
a img.icon {
  height: 1.2em;
  vertical-align: sub;
}

* {
  box-sizing: border-box;
  line-height: 1.4em;
}

table {
  width: 100%;
}
table th, table td {
  vertical-align: middle;
}

svg {
  display: block;
}

label {
  position: relative;
}

.hidden {
  display: none !important;
}

.columnas-ajustadas {
  display: flex;
}
.columnas-ajustadas .columna {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.columnas-ajustadas .columna:not(:last-of-type) {
  margin-right: 1em;
}
.columnas-ajustadas.horizontal {
  flex-direction: column;
}
.columnas-ajustadas.horizontal .columna {
  flex-direction: row;
}
.columnas-ajustadas.horizontal .columna > * {
  margin-right: 1em;
}
.columnas-ajustadas.horizontal .columna > *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1300px) {
  .columnas-ajustadas {
    flex-direction: column;
  }
}
.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.btn, .btn-flat {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  color: #546E7A;
  letter-spacing: -0.01em;
  cursor: pointer;
  line-height: 1.8rem;
  padding: 0.4em 1.2em;
  border-radius: 0.4em;
  width: fit-content;
}
.btn .mdi, .btn-flat .mdi {
  font-size: 1.2rem;
  margin-right: 0.3em;
  line-height: normal;
}
.btn:hover, .btn-flat:hover {
  color: #546E7A;
}
.btn.bajo, .btn-flat.bajo {
  height: 2em;
  line-height: 2em;
  padding: 0em 1.5em 0.1em 1.5em;
}
.btn.bajo .mdi, .btn-flat.bajo .mdi {
  vertical-align: middle;
}
.btn.solo, .btn-flat.solo {
  padding-right: 1.3em;
  padding-left: 1.3em;
}
.btn.solo > .mdi, .btn-flat.solo > .mdi {
  margin: 0;
}
.btn[disabled], .btn-flat[disabled] {
  pointer-events: none;
  box-shadow: none !important;
  background: #EEEEEE !important;
  color: #BBBBBB !important;
}
.btn.icon-right .mdi, .btn-flat.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: 0;
}

.btn {
  background-color: #ECEFF1;
}
.btn:hover {
  background-color: #CFD8DC;
}

.btn-flat {
  background: none;
  box-shadow: none;
}
.btn-flat:hover {
  background: #ECEFF1;
}
.btn-flat[disabled] {
  color: #EEEEEE;
}

.link.peligroso {
  background: none;
  box-shadow: none;
}
.link.peligroso:hover {
  color: red;
  background: #f7f7f7;
}
.link.peligroso[disabled] {
  color: #EEEEEE;
}

.nota {
  background: #E1F5FE;
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 0.5rem;
}
.nota .icono {
  margin-right: 0.5em;
}
.nota .titulo {
  font-weight: 600;
}
.nota .descripcion {
  margin-top: 0.3rem;
  font-size: 0.95em;
}
.nota .descripcion b {
  font-weight: 600;
}

.chip {
  background: rgba(96, 125, 139, 0.1254901961);
  border-radius: 1em;
  display: inline-block;
  margin-right: 0.3em;
  font-weight: 500;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: #455A64;
  padding: 0.1em 1em 0.1em 1em;
  line-height: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chip .mdi {
  margin-right: 0.3em;
  margin-left: -0.3em;
}
.chip a {
  color: inherit;
}
.chip.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: -0.3em;
}
.chip.flat {
  background: none;
  padding: 0.1em 0.2em;
}
.chip.flat.hover {
  padding: 0.1em 0.7em;
}
.chip.flat.hover:hover {
  background: #EEE;
}

.desplegable {
  position: relative;
  cursor: default;
}
.desplegable > div {
  position: relative;
  padding: 0em 0.2em;
  border-radius: 0.1em;
  border: 1px solid #767676;
  user-select: none;
  line-height: 1.313em;
}
.desplegable > div:after {
  content: "";
  position: absolute;
  right: 0.3em;
  border: solid 0.15em #000;
  border-right: none;
  border-top: none;
  width: 0.3em;
  height: 0.3em;
  transform: translateY(0.3em) rotate(-45deg);
}
.desplegable > ul {
  display: none;
  position: absolute;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  background: #FFFFFF;
  z-index: 1;
  width: 100%;
  border: 1px solid #CCC;
  overflow: hidden;
  border-radius: 0.4em;
}
.desplegable > ul > li {
  padding: 0em 0.2em;
  line-height: 1.313em;
}
.desplegable > ul > li:hover {
  background: rgb(var(--default-background, 33, 150, 243));
  color: #FFFFFF;
}
.desplegable.activo > ul {
  display: block;
  z-index: 2;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
  height: 2.8rem;
  overflow: hidden;
}
.breadcrumb > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: 500;
}
.breadcrumb > li a {
  padding: 0.6em 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb > .mdi {
  color: #CCC;
}

/**
 * Navegador lateral
 */
ul.navegador li a {
  display: block;
  padding: 0.2em 0.5em;
  height: min-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.3em;
}

ul.navegador li a:hover {
  background-color: #F7F7F7;
}

ul.navegador li a.activo {
  font-weight: bold;
  background-color: #EEE;
}

.ellipsis-two-lines {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 0.5em;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  top: 10%;
  transform: scaleX(0.1) scaleY(0.1);
  opacity: 0;
}
.modal.open {
  z-index: 1003;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal.dialog {
  width: 20rem;
  min-height: 8rem;
}
.modal .ficha {
  margin-bottom: 0;
}
.modal .ficha header {
  padding: 0.7em 1em;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
}

/**
 * Alert
 */
.alert {
  position: fixed !important;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.ql-wrapper {
  border-radius: 4px;
  border: 2px solid #757575;
}

.ql-container {
  font-size: 0.95rem;
}

.ql-container.ql-snow {
  border: 0;
}

.ql-toolbar.ql-snow {
  border: 0;
  border-bottom: 1px solid #EEE;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

* {
  font-family: "Noto Sans", "Tahoma", sans-serif;
}

#pagina {
  background: hsl(204, 20%, 96%);
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
}
#head.sin-menu {
  border-bottom: 1px solid #DDD;
}
#head > div {
  display: flex;
}
#head #logo {
  display: block;
  width: 100%;
  height: 4em;
  padding: 0.5em 1em;
}
#head #logo img {
  height: 100%;
  object-fit: contain;
}
#head .izquierda {
  width: 16rem;
}
#head .central {
  width: 100%;
}

#body {
  display: flex;
  padding: 0em 0 1em 0;
}
#body.sin-menu #contenido {
  width: 100%;
}
#body.sin-menu #contenido #main {
  overflow-y: auto;
  height: calc(100vh - 8.1rem);
}
#body.sin-menu #contenido #lateral {
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  border-radius: 0;
}

#contenido {
  display: flex;
  flex-direction: row;
  border-radius: 0.9em;
  background: #FFF;
  width: calc(100% - 15rem);
}

#principal {
  width: 100%;
}

#main {
  overflow-y: scroll;
}
#main::-webkit-scrollbar {
  width: 10px;
}
#main::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 0.3em;
}
#main::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}
#main .ficha.sticky {
  position: sticky;
  top: 0;
  z-index: 99999;
}

#lateral {
  background: rgba(255, 255, 255, 0.1333333333);
  border-left: 1px solid #f0f3f4;
  border-left: 1px solid #EEE;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  padding: 1.2em 1em 1em 1em;
  font-size: 0.9em;
  height: calc(100vh - 6rem);
  overflow-y: auto;
}
#lateral::-webkit-scrollbar {
  width: 10px;
}
#lateral::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 0.3em;
}
#lateral::-webkit-scrollbar-thumb:hover {
  background: #BBB;
}
#lateral .divider {
  border: 1px solid #EEEEEE;
  height: 0.01px;
  border-radius: 1em;
  margin: 1.2em;
  border-bottom-color: #F3F3F3;
}
#lateral .btn, #lateral .btn-flat {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
#lateral .principal {
  margin-bottom: 1em;
}
#lateral .principal .btn, #lateral .principal btn-flat {
  font-size: 1rem;
  margin-bottom: 0.3em;
}
#lateral .secundario {
  font-size: 0.95em;
}
#lateral .secundario .ficha > main {
  padding: 0;
}
#lateral .secundario .ficha > main .fila {
  margin: 0;
}
#lateral .secundario > .titulo {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  color: #424242;
}
#lateral .secundario > .titulo .mdi {
  font-size: 1.1em;
  margin-right: 0.3em;
  color: #616161;
  line-height: 1em;
}
#lateral .link {
  padding: 0.6em 1em;
  display: block;
  font-weight: 500;
  border-radius: 0.3em;
  margin-bottom: 0.2em;
  color: #456453;
  position: relative;
}
#lateral .link .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
  background: rgba(0, 0, 0, 0.0666666667);
}
#lateral .link .mdi {
  font-size: 1.4em;
  line-height: 1em;
  vertical-align: text-top;
  margin-right: 0.1em;
}
#lateral .link:hover {
  background: #EEE;
}
#lateral .link.activo {
  background: #E7E7E7;
}
#lateral .link.peligroso {
  color: #555;
}
#lateral .link.peligroso:hover {
  color: #E53935;
}

#menu {
  border-radius: 0 0.6em 0.6em 0;
  overflow: hidden;
  height: calc(100vh - 4em);
  display: flex;
  width: 15em;
  border-right: 1px solid #EEE;
}
#menu ul {
  width: 100%;
  padding: 0.5em 0.5em 1em 0em;
  display: flex;
  flex-direction: column;
}
#menu ul li.divider {
  margin: 0.3em 1em 0.5em 0em;
  border-top: 2px solid #CFD8DC;
}
#menu ul li {
  margin-bottom: 0.2rem;
}
#menu ul li a {
  font-weight: 500;
  color: #555;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  border-radius: 0em 2em 2em 0;
  letter-spacing: -0.01em;
  position: relative;
  border-bottom: 1px solid transparent;
  transition: background-color 100ms;
}
#menu ul li a .numero {
  position: absolute;
  right: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .chevron {
  position: absolute;
  right: 2.5em;
  padding: 0.1em 0.5em;
  border-radius: 2em;
  font-weight: 700;
  font-size: 0.9em;
  color: #757575;
}
#menu ul li a .chevron:hover {
  background: rgba(0, 0, 0, 0.0666666667);
}
#menu ul li a .chevron .mdi {
  margin-right: 0;
}
#menu ul li a .mdi {
  margin-right: 0.3em;
  font-size: 1.6em;
}
#menu ul li a.subactivo {
  background-color: #f2ebeb;
  border-bottom: 1px solid rgba(238, 214, 213, 0.2666666667);
}
#menu ul li a:hover {
  background-color: #edf3f7;
}
#menu ul li a.activo {
  background: #d4e2ed;
  color: #424242;
}
#menu ul li a.activo .numero {
  background: rgba(0, 0, 0, 0.1333333333);
  color: #455A64;
}
#menu ul li ul {
  padding: 0;
  width: calc(100% - 0.3rem);
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid #eed6d5;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0;
}
#menu ul li ul li.divider {
  margin: 0.1em 1.5em 0.3em 0em;
  border-top: 2px solid #f2ebeb;
}
#menu ul li ul li a {
  padding: 0.2em 1em 0.2em 1em;
}
#menu ul li ul li a .mdi {
  font-size: 1.3em;
}

#botones-usuario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#botones-usuario > li {
  position: relative;
  margin: 0.3em;
}
#botones-usuario > li > a {
  padding: 0.2em 1em;
  font-size: 1rem;
}
#botones-usuario > li > a .mdi {
  font-size: 1.6rem;
}
#botones-usuario > li ul {
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  min-width: 100%;
  background: #FFF;
  padding: 0.3em 0;
  border-radius: 0.3em;
}
#botones-usuario > li ul li:hover {
  background: #EEE;
}
#botones-usuario > li ul li a {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  color: #546E7A;
}
#botones-usuario > li ul li a .mdi {
  font-size: 1.6em;
  line-height: 1em;
  margin-right: 0.4em;
}
#botones-usuario > li ul.activo {
  display: block;
  right: 0;
}
#botones-usuario > li.activo #boton-usuario {
  outline: 2px solid #a5b8c0;
}
#botones-usuario > li.activo ul {
  display: block;
}

#menu-usuario #boton-usuario {
  background: #cedbe8;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}
#menu-usuario #boton-usuario .mdi {
  margin-left: 0.3em;
}

#header {
  padding: 0.6rem 1rem 0.6rem 1.3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 100%;
  overflow: hidden;
}
#header .izq {
  display: inline-flex;
  align-items: center;
  max-width: calc(100% - 15rem);
}
#header .izq.sola {
  max-width: 100%;
}
#header .izq > .mdi {
  color: #20364c;
  margin-right: 0.5em;
}
#header .opciones {
  display: flex;
  align-items: center;
}
#header .opciones .btn, #header .opciones .btn-flat {
  margin-left: 0.5rem;
}
#header .opciones .btn .mdi, #header .opciones .btn-flat .mdi {
  line-height: normal;
}
#header .mdi {
  font-size: 1.4em;
}
#header .btn-atras {
  padding: 0.3em 1.5em 0.3em 0.5em;
  color: #000;
}

.ficha .campo.lista .ficha main {
  padding: 0;
}

.ficha .campo.lista .ficha main .lista header {
  padding: 0;
  margin-bottom: 0;
}

.ficha .campo.lista .ficha footer {
  justify-content: flex-end;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

/**

  <div class="ficha">
    <header>
      <div class="principal">
        <div class="icono"> <i class="mdi mdi-square"></i> </div>
        <div class="titulo">
          <div class="nombre"> </div>
          <div class="descripcion"> </div>
        </div>
      </div>
    </header>
    <main>
      <div class="fila">
        <div class="campo">
          <div class="label">
            <?= $model->getAttributeLabel('attribute') ?>
          </div>
          <div class="value">
            <?= $model->attribute ?>
          </div>
        </div>
      </div>
    </main>
  </div>

 */
.ficha {
  border-radius: 0.6em;
  margin-bottom: 1em;
}
.ficha > header {
  padding: 1.2em 1.5em 1.2em 1.5em;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.ficha > header .principal {
  display: flex;
  align-items: flex-start;
}
.ficha > header .principal .icono {
  margin-right: 1em;
}
.ficha > header .principal .icono .mdi {
  font-size: 2em;
}
.ficha > header .principal .icono .numero {
  font-weight: 800;
  font-size: 1.5rem;
}
.ficha > header .principal .titulo .nombre {
  font-weight: 600;
  font-size: 1.05em;
  letter-spacing: -0.02em;
  padding: 0.5em 0 0.3em 0;
  display: flex;
  align-items: center;
}
.ficha > header .principal .titulo .descripcion {
  font-size: 0.9em;
  color: #424242;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  line-height: 1.6em;
}
.ficha > header .principal .titulo .descripcion .campo {
  margin-right: 1em;
}
.ficha > header .opciones {
  display: flex;
  white-space: nowrap;
}
.ficha > header .opciones .opcion {
  margin-left: 0.5em;
}
.ficha > header .opciones .opcion .btn .mdi,
.ficha > header .opciones .opcion .btn-flat .mdi {
  font-size: 1.4rem;
  vertical-align: sub;
}
.ficha > header .opciones .opcion .btn.solo,
.ficha > header .opciones .opcion .btn-flat.solo {
  padding-right: 0.8em;
  padding-left: 0.8em;
}
.ficha > header .opciones .opcion .btn.solo .mdi,
.ficha > header .opciones .opcion .btn-flat.solo .mdi {
  margin-right: 0;
}
.ficha > header .opciones .opcion .btn.grande,
.ficha > header .opciones .opcion .btn-flat.grande {
  padding: 0.1em 0.2em;
  border-radius: 0.5em;
}
.ficha > header .opciones .opcion .btn.grande .mdi,
.ficha > header .opciones .opcion .btn-flat.grande .mdi {
  font-size: 2rem;
}
.ficha > main {
  padding: 0em 1.5em 1em 1.5em;
}
.ficha > main > header {
  padding: 0.2em 0;
}
.ficha > main > header .titulo {
  font-weight: bold;
  letter-spacing: -0.03em;
}
.ficha > main > header .titulo .mdi {
  margin-right: 0.2em;
}
.ficha > main .fila {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1em;
}
.ficha > main .fila:first-child {
  margin-top: 0.5em;
}
.ficha > main .fila:last-child {
  margin-bottom: 0;
}
.ficha > main .fila .campo {
  margin: 0 3em 1em 0;
}
.ficha > main .fila .campo > .label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #37474F;
  margin-bottom: 0.3em;
}
.ficha > main .fila .campo.grande {
  width: 100%;
  margin-right: 0;
}
.ficha > footer {
  padding: 0.7em 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: nowrap;
}
.ficha > footer .opciones {
  display: flex;
}
.ficha > footer .opciones.center {
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}
.ficha > footer .opciones.center .opcion {
  margin-bottom: 0.5em;
}
.ficha > footer .opciones .opcion {
  margin-left: 0.5em;
}
.ficha.ocultable > header {
  cursor: pointer;
}
.ficha.ocultable > header::before {
  font: normal normal normal 24px/1 "Material Design Icons";
  content: "\f0143";
  color: #bdbdbd;
  line-height: 1em;
  float: right;
  text-shadow: 0em 0em 0.8em #fff;
}
.ficha.ocultable.oculta > header::before {
  content: "\f0140";
}
.ficha.ocultable.oculta > main {
  display: none;
}
.ficha.ocultable.oculta > footer {
  display: none;
}

/** campo lineal */
.ficha.lineal .fila,
.ficha .fila.lineal {
  flex-direction: column;
}

.ficha.lineal .fila .campo,
.ficha .fila.lineal .campo,
.ficha .fila .campo.lineal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ficha.lineal .fila .campo .label,
.ficha .fila.lineal .campo .label,
.ficha .fila .campo.lineal .label {
  margin-bottom: 0;
}

.ficha.accion {
  background: none;
}
.ficha.accion > header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.ficha.accion > header .principal .icono .mdi {
  font-size: 1.4em;
}

.ficha.header > header .icono .mdi {
  font-size: 3em;
  line-height: 1em;
  margin-right: 0.5rem;
}

.ficha.lista > header {
  font-size: 1em;
  padding: 1.2em 1.5em 0em 1.5em;
  margin-bottom: 0;
}
.ficha.lista main {
  padding: 1em;
}
.ficha.lista .items .item .informacion .campo {
  margin-bottom: 0;
}
.ficha.lista.con-filtro > main {
  padding: 0;
}
.ficha.lista.con-filtro > main > .lista {
  padding: 0 1em 1em 1em;
}
:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

div.lista.compacta .items .item {
  height: 2.6em;
}
div.lista > header {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 1em;
  letter-spacing: -0.02em;
  padding: 0 1rem;
}
div.lista > header .cantidad {
  color: #9E9E9E;
}
div.lista > header .sorter {
  display: flex;
}
div.lista .items .item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.4em 1em;
  position: relative;
}
div.lista .items .item .informacion {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}
div.lista .items .item .informacion .icono {
  padding: 0 0.6em 0 0;
  font-size: 1.5em;
  color: #555;
  margin-top: -0.3rem;
  height: 1.1em;
}
div.lista .items .item .informacion .numero {
  padding: 0 0.6em 0 0;
  font-size: 1.5em;
  font-weight: bold;
}
div.lista .items .item .informacion .imagen {
  overflow: hidden;
  padding: 0.5em 1em 0.5em 0;
}
div.lista .items .item .informacion .imagen img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: block;
}
div.lista .items .item .informacion .texto {
  max-width: 100%;
}
div.lista .items .item .informacion .texto .primario {
  font-weight: 500;
  color: #212121;
  display: flex;
  align-items: baseline;
}
div.lista .items .item .informacion .texto .primario .campo {
  margin-right: 1em;
  margin-bottom: 0;
}
div.lista .items .item .informacion .texto .secundario {
  font-size: 0.9em;
  font-weight: 400;
  color: #424242;
  display: flex;
  flex-wrap: wrap;
  padding: 0em 0;
  margin-top: 0.3em;
}
div.lista .items .item .informacion .texto .secundario .campo {
  margin: 0em 1em 0.3em 0;
}
div.lista .items .item .informacion .texto .label {
  color: #999;
  display: inline-block;
  font-weight: 400;
}
div.lista .items .item:hover .opciones.ocultas {
  display: flex;
}
div.lista .items .item .opciones {
  display: flex;
  align-items: center;
}
div.lista .items .item .opciones .opcion {
  margin-left: 0.3em;
  white-space: nowrap;
}
div.lista .items .item .opciones .opcion a {
  border-radius: 0.3em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.lista .items .item .opciones .opcion a .mdi {
  font-size: 1.4em;
}
div.lista .items .item .opciones .opcion.grande a {
  width: auto;
  padding: 0 1.2em 0 1em;
  font-weight: 500;
  border-radius: 0.4em;
}
div.lista .items .item .opciones .opcion.grande a .mdi {
  margin-right: 0.1em;
}
div.lista .items .item .opciones.ocultas {
  position: absolute;
  right: 0;
  background-color: #FFF;
  display: none;
}
div.lista .items .item:hover .opcion a {
  color: #607D8B;
}
div.lista .items .item.no-leida {
  box-shadow: 0 0.1em 0.2em -0.1em #000;
  border-radius: 0.3em;
  background: rgba(77, 182, 172, 0.0666666667);
  outline: 1px solid #B2DFDB;
}

.lista ul.sorter li {
  margin-left: 0.5em;
}
.lista ul.sorter li a {
  color: #9E9E9E;
  display: flex;
  align-items: center;
}
.lista ul.sorter li a:hover {
  color: #757575;
}
.lista ul.sorter li a.asc::before {
  content: "\f005d";
}
.lista ul.sorter li a.desc::before {
  content: "\f0045";
}
.lista ul.sorter li a::before {
  font: normal normal normal 24px/1 "Material Design Icons";
  line-height: 0.85em;
  font-size: 1em;
  vertical-align: text-bottom;
}

ul.pagination {
  cursor: default;
  margin: 1em 0 0 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
ul.pagination li {
  text-align: center;
  display: block;
  line-height: 3em;
  min-width: 3em;
  height: inherit;
  padding: 0 0.1em;
}
ul.pagination li a {
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 1em 0;
  color: #424242;
  border-radius: 2em;
}
ul.pagination li.active a {
  background: #B2DFDB;
}
ul.pagination li.disabled {
  cursor: default;
}
ul.pagination li.disabled span {
  color: #AAA;
}
ul.pagination li:not(.active) a:hover {
  background: #E0F2F1;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

input[type=radio] {
  height: 1.1em;
  width: 1.1em;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: #fff;
  line-height: 1.4em;
}
.form-group label {
  display: flex;
  position: absolute;
  top: 0.7em;
  left: 0.9em;
  transition: all 150ms ease-in;
  padding: 0.1em 0.4em;
  pointer-events: none;
  font-size: 0.9em;
  border-radius: 1em;
  background: transparent;
  height: 1.3em;
  overflow: hidden;
  max-width: calc(100% - 2em);
  word-break: break-all;
  font-size: 0.95em;
}
.form-group label.activo {
  top: -0.7em;
  left: 0.7em;
  bottom: auto;
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  z-index: 1;
  background: #FFFFFF;
}
.form-group select, .form-group input {
  height: 3em;
  font-size: 0.95em;
}
.form-group select:active, .form-group select:focus, .form-group input:active, .form-group input:focus {
  border-color: #37474f;
}
.form-group select[disabled], .form-group input[disabled] {
  color: #9E9E9E;
  border-style: dotted;
  border-color: #9E9E9E;
}
.form-group input, .form-group select, .form-group textarea {
  border: 2px solid #757575;
}
.form-group input[readonly], .form-group select[readonly], .form-group textarea[readonly] {
  background: #EEEEEE;
  color: #555;
}
.form-group textarea {
  resize: vertical;
}
.form-group select {
  border-radius: 4px;
  padding: 0 0.8em;
  outline: none;
  min-width: 5em;
  width: inherit;
}
.form-group select option {
  padding: 1em;
  list-style: 2em;
}
.form-group input {
  display: flex;
  border-radius: 4px;
  outline: none;
  padding: 0 0.7em;
}
.form-group .help-block {
  display: block;
  font-size: 0.8em;
  margin: 0.3em 0.7em;
  position: relative;
  line-height: 1.1em;
  background: #FFFFFF;
  display: none;
}
.form-group .hint-block {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.7em;
  color: #555;
}
.form-group.required > label::after {
  content: "*";
  padding-left: 0.2em;
}
.form-group.has-error {
  color: #F44336;
}
.form-group.has-error label {
  color: #F44336;
}
.form-group.has-error select,
.form-group.has-error input {
  border-color: #F44336;
}
.form-group.has-error .hint-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
.form-group.has-error .help-block:empty {
  display: none;
}
.form-group.textarea textarea {
  border-radius: 4px;
  padding: 1em;
  resize: vertical;
  height: 5em;
  min-height: 5em;
  font-size: 0.95em;
}
.form-group.textarea .help-block {
  position: static;
}
.form-group.checkbox {
  padding: 0;
}
.form-group.checkbox input {
  height: 0;
}
.form-group.checkbox > label {
  padding: 0;
  background: transparent;
  position: relative;
  min-height: 3em;
  height: auto;
  top: auto;
  left: auto;
  pointer-events: auto;
  width: 100%;
  word-break: normal;
  overflow: inherit;
  max-width: inherit;
  padding: 0.8em 0 0.8em 0.5em;
}
.form-group.checkbox > label > span.box {
  padding-left: 2.3em;
  height: auto;
}
.form-group.checkbox.required > label::after {
  content: "";
}
.form-group.checkbox.required .label::after {
  content: " *";
}
.form-group.checkbox-list > input + div {
  margin-top: 1em;
}
.form-group.checkbox-list > div > label {
  display: flex;
  position: initial;
  pointer-events: all;
  height: inherit;
  overflow: visible;
  transition: none;
  margin-bottom: 0.3em;
  word-break: normal;
}
.form-group.radiolist {
  margin-top: 0;
}
.form-group.radiolist > [role=radiogroup] {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.1em;
}
.form-group.radiolist > [role=radiogroup] > label {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: static;
  pointer-events: auto;
  font-size: 1em;
  height: auto;
  color: #37474f;
  line-height: 1.1em;
  overflow: visible;
}
.form-group.radiolist > [role=radiogroup] > label:not(:last-child) {
  margin-right: 0.5em;
}
.form-group.radiolist > [role=radiogroup] > label input {
  display: block;
  margin: 0 0.8em 0 0.3em;
}
.form-group.radiolist > label {
  position: static;
  font-size: 0.8em;
  font-weight: 500;
  display: block;
}

.form {
  background: #FFF;
  border-radius: 0.6em;
}
.form .fieldset {
  padding: 1.2em 1.5em;
  border: 1px solid #DDDDDD;
  margin-bottom: 1em;
}
.form .fieldset .filas {
  padding: 0;
}
.form .fieldset header {
  display: flex;
  justify-content: space-between;
}
.form .fieldset header .informacion {
  display: flex;
}
.form .fieldset header .informacion .icono,
.form .fieldset header .informacion .titulo .nombre {
  font-size: 2em;
}
.form .fieldset header .informacion .icono i.mdi {
  color: #37474F;
  margin-right: 0.4em;
  margin-left: -0.2em;
}
.form .fieldset header .informacion .titulo .nombre {
  font-weight: bold;
}
.form .fieldset header .estado .icono {
  display: none;
  color: #90A4AE;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
}
.form .fieldset header .estado .icono .mdi {
  font-size: 2em;
  margin-left: 0.2em;
}
.form .fieldset main {
  margin-top: 1.5em;
}
.form .fieldset footer {
  padding-left: 0.5em;
  margin-top: 1.5em;
  display: flex;
}
.form .fieldset footer .botones {
  display: flex;
}
.form .fieldset footer .botones .boton {
  margin-right: 0.7em;
}
.form .fieldset.error header .estado .icono.error {
  display: flex;
  color: #EF5350;
}
.form .fieldset.pendiente header .estado .icono.pendiente {
  display: flex;
  color: #AAA;
}
.form .fieldset.activo header .estado .icono.activo {
  display: flex;
}
.form .fieldset.listo header .estado .icono.listo {
  display: flex;
  color: #81C784;
}
.form .filas {
  background: #FFF;
  border-radius: 0.6em;
  padding: 1.2em 1.5em;
}
.form .filas .titulo {
  margin-left: 1rem;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.form .filas .titulo .mdi {
  color: #555;
  margin-right: 0.5em;
}
.form .filas .fila {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.form .filas .fila.completa {
  flex-wrap: nowrap;
}
.form .filas .fila.completa .campo {
  width: 100%;
}
.form .filas .fila .campo {
  display: flex;
  align-items: baseline;
  padding: 0.6em 0 1.3em 0;
  position: relative;
}
.form .filas .fila .campo > .mdi {
  font-size: 1.6em;
  color: #455a64;
  margin: 0em 1rem 0em 0.3rem;
}
.form .filas .fila .campo.ancho {
  width: 100%;
}
.form .filas .fila .campo.grande {
  width: 100%;
  margin-right: 0;
}
.form .filas .fila .campo:not(:last-child):not(.grande) {
  margin-right: 2em;
}
.form .filas .fila .campo.estrecho {
  padding: 0;
}
.form .filas .fila .campo.estrecho .form-group {
  margin: 0;
  padding: 0;
}
.form .filas .fila:not(:last-child) {
  margin-bottom: 1em;
}
.form .opciones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #E7E7E7;
  background: #FAFAFA;
  background: linear-gradient(0deg, #FFFFFF 0%, #f7f7f7 100%);
  z-index: 10;
  border-radius: 0 0 0.6em 0.6em;
}
.form .opciones .opcion {
  margin-left: 0.5em;
}
.form .opciones .opcion .btn {
  background: #546e7a;
  color: #FFF;
}
.form .opciones .opcion .btn:hover {
  background: #455a64;
}
.form button {
  cursor: pointer;
}

.form .desplegable > div {
  padding: 0.644em 0.8em;
  border-width: 0.15em;
  border-radius: 0.3em;
  min-height: 2.85em;
}
.form .desplegable > ul {
  padding: 0.3em 0;
}
.form .desplegable > ul > li {
  min-height: 1.711em;
  padding: 0.2em 0.8em;
}

.form.filtro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5em 1em 1.2rem;
  border-radius: 0;
  position: sticky;
  top: 0em;
  z-index: 100;
  border-bottom: 1px solid #EEE;
}
.form.filtro .fila {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.form.filtro .fila:not(:last-child) {
  margin-bottom: 0.5em;
}
.form.filtro .fila .campo {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.form.filtro .fila .campo > .mdi {
  font-size: 1.2em;
  color: #999;
  margin-right: 0.3em;
}
.form.filtro .fila .campo:not(:last-child) {
  margin-right: 1em;
}
.form.filtro .fila .campo .form-group {
  background: none;
}
.form.filtro .fila .campo .form-group label {
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  position: static;
  padding: 0;
}
.form.filtro .fila .campo .form-group input, .form.filtro .fila .campo .form-group select {
  height: 2.2em;
  border-color: #DDD;
  border-width: 1px;
  color: #999;
  width: 100%;
  background-color: #f8f8f8;
}
.form.filtro .fila .campo .form-group input:focus, .form.filtro .fila .campo .form-group select:focus {
  border-color: #B0BEC5;
  color: inherit;
}
.form.filtro .fila .campo .form-group select {
  padding-left: 0.2em;
}
.form.filtro .fila .campo .form-group input {
  padding-left: 0.5em;
}
.form.filtro .fila .campo .form-group input::placeholder {
  color: #999;
}
.form.filtro .fila .campo.activo .mdi {
  color: #555;
}
.form.filtro .fila .campo.activo input, .form.filtro .fila .campo.activo select {
  color: inherit;
  background-color: #FFF;
}
.form-group.ql label {
  top: 3.5em;
  left: 0.7em;
  height: 1.4em;
  transition-duration: 190ms;
  z-index: 1;
}
.form-group.ql label.activo {
  top: -0.7em;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=checkbox] + div.box,
[type=checkbox] + div.box + div.label {
  display: inline-block;
  vertical-align: top;
}

[type=checkbox] + div.box + div.label {
  margin-left: 1em;
  user-select: none;
}

[type=checkbox] + div.box {
  cursor: pointer;
  user-select: none;
  width: 1.4em;
  min-width: 1.4em;
  height: 1.4em;
}
[type=checkbox] + div.box:before, [type=checkbox] + div.box:after {
  display: block;
  content: "";
  position: absolute;
  transition: background-color 0.2s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
[type=checkbox] + div.box:after {
  border-radius: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
[type=checkbox]:not(:checked):disabled + div.box:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}
[type=checkbox]:not(:checked) + div.box:after {
  background-color: transparent;
  border: 2px solid #5a5a5a;
  z-index: 0;
}
[type=checkbox]:checked + div.box:before {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.35em;
  border: solid 0.15em #FFF;
  border-right: none;
  border-top: none;
  transform: translate(0.2em, 0.35em) rotate(-47deg);
}
[type=checkbox]:checked + div.box:after {
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
}
[type=checkbox]:disabled:not(:checked) + div.box:before {
  background-color: transparent;
  border: 2px solid transparent;
}
[type=checkbox]:disabled:not(:checked) + div.box:after {
  border-color: transparent;
  background-color: #949494;
}
[type=checkbox]:disabled:checked + div.box:before {
  background-color: transparent;
}
[type=checkbox]:disabled:checked + div.box:after {
  background-color: #949494;
  border-color: #949494;
}

/**
 * Radio
 */
[type=radio]:not(:checked),
[type=radio]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=radio]:not(:checked) + span,
[type=radio]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-break: break-word;
}

[type=radio] + span:before,
[type=radio] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.2em;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after,
[type=radio]:checked + span:before,
[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border-radius: 50%;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after {
  border: 2px solid #5a5a5a;
}

[type=radio]:not(:checked) + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type=radio]:checked + span:before {
  border: 2px solid transparent;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border: 2px solid #26a69a;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:after {
  background-color: #26a69a;
}

[type=radio]:checked + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

[type=radio].with-gap:checked + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

[type=radio]:focus + span:before {
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1);
}

[type=radio].with-gap:disabled:checked + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

[type=radio].with-gap:disabled:checked + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:not(:checked) + span:before,
[type=radio]:disabled:checked + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled + span {
  color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:checked + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}

.chip.alerta {
  background: #FDD835;
}

.chip.error {
  background: #E53935;
  color: #FFEBEE;
}

.chip.parametro {
  color: #444;
  background: #bbdefb;
  max-width: 14em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.lista-archivos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.lista-archivos > .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #E0F2F1;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.4em solid #E0F2F1;
  position: relative;
  cursor: pointer;
  margin-right: 0.5em;
}
.lista-archivos > .item:hover {
  background: #B2DFDB;
  border-color: #B2DFDB;
  transition: all 100ms;
}
.lista-archivos > .item:hover .opciones {
  opacity: 1;
  transition: all 200ms;
  transition-delay: 200ms;
}
.lista-archivos > .item.agregar {
  cursor: pointer;
  flex-direction: column;
  letter-spacing: -0.02em;
  color: #98c7c3;
  font-weight: 600;
  background: #F5F5F5;
  font-size: 0.85rem;
  padding: 0 1em;
  text-align: center;
  border-color: #EAF4F4;
  display: flex;
  justify-content: center;
}
.lista-archivos > .item.agregar .miniatura {
  padding: 1em;
}
.lista-archivos > .item.agregar .miniatura .mdi {
  font-size: 2.4rem;
  color: inherit;
}
.lista-archivos > .item.agregar:hover {
  color: #00695C;
  transition: all 300ms;
}
.lista-archivos > .item .miniatura {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 2rem);
  background: #F7F7F7;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}
.lista-archivos > .item .miniatura img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.lista-archivos > .item .miniatura.pdf {
  width: calc(100% + 16px);
  align-self: flex-start;
}
.lista-archivos > .item .miniatura i.mdi {
  font-size: 3.6em;
  color: #00695C;
}
.lista-archivos > .item .informacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0.1em 0.3em 0 0.3em;
  width: 100%;
  height: 1.7rem;
}
.lista-archivos > .item .informacion .nombre {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: -0.03em;
}
.lista-archivos > .item .opciones {
  opacity: 0;
  bottom: 0.1rem;
  right: 0.1rem;
  position: absolute;
  display: flex;
}
.lista-archivos > .item .opciones .opcion {
  margin-left: 0.3em;
}
.lista-archivos > .item .opciones .opcion .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3em -0.15rem #000;
  background: #4DB6AC;
  color: #00695C;
  padding: 0;
}
.lista-archivos > .item .opciones .opcion .btn i.mdi {
  margin: 0;
}

.chip.estado-telemedicina {
  border-radius: 0.2em;
}
.chip.estado-telemedicina.estado-0 {
  background: #EEEEEE;
}
.chip.estado-telemedicina.estado-1 {
  background: #BBDEFB;
}
.chip.estado-telemedicina.estado-50 {
  background: #C5CAE9;
}
.chip.estado-telemedicina.estado-70 {
  background: #F8BBD0;
}
.chip.estado-telemedicina.estado-100 {
  background: #CFD8DC;
}
.chip.estado-orden {
  border-radius: 0.2em;
}
.chip.estado-orden.estado-1 {
  background: #BBDEFB;
}
.chip.estado-orden.estado-20 {
  background: #C5CAE9;
}
.chip.estado-orden.estado-30 {
  background: #C5E1A5;
}
.chip.estado-orden.estado-40 {
  background: #FFE0B2;
}
.chip.estado-orden.estado-50 {
  background: #F8BBD0;
}
.chip.estado-orden.estado-60 {
  background: #CFD8DC;
}
.chip.tipo-entrega.tipo-1 {
  background: #BBDEFB;
}
.chip.tipo-entrega.tipo-2 {
  background: #C5CAE9;
}
.chip.tipo-entrega.tipo-3 {
  background: #7E57C2;
  color: #FFF;
}

.chip.estado-paciente-4 {
  background: #F44336;
  color: #FFF;
}

.campo.puntaje input {
  width: 8em;
}

#lateral .ficha > main .fila .campo.error,
#lateral .ficha > main .fila .campo.error .label {
  color: red;
}

/*# sourceMappingURL=styles.css.map */
