[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="checkbox"] + div.box,
[type="checkbox"] + div.box + div.label {
  display: inline-block;
  vertical-align: top;
}

[type="checkbox"] + div.box + div.label {
  margin-left: 1em;
  user-select: none;
}

[type="checkbox"] {
  + div.box {
    cursor: pointer;
    user-select: none;
    width: 1.4em;
    min-width: 1.4em;
    height: 1.4em;
    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      transition: background-color .20s, width .20s .1s,
        height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }
    &:after {
      border-radius: 0.2em;
      width: 1.1em;
      height: 1.1em;
    }
  }
  &:not(:checked) {
    &:disabled + div.box:before {
      border: none;
      background-color: rgba(0, 0, 0, .42);
    }
    + div.box:after {
      background-color: transparent;
      border: 2px solid #5a5a5a;
      z-index: 0;
    }
  }
  &:checked {
    + div.box:before {
      content: "";
      position: absolute;
      width: 0.8em;
      height: 0.35em;
      border: solid 0.15em #FFF;
      border-right: none;
      border-top: none;
      transform: translate(0.2em, 0.35em) rotate(-47deg);
    }
    + div.box:after {
      border: 2px solid #26a69a;
      background-color: #26a69a;
      z-index: 0;
    }
  }
  &:disabled {
    &:not(:checked) {
      + div.box:before {
        background-color: transparent;
        border: 2px solid transparent;
      }
      + div.box:after {
        border-color: transparent;
        background-color: #949494;
      }
    }
    &:checked {
      + div.box:before {
        background-color: transparent;
      }
      + div.box:after {
        background-color: #949494;
        border-color: #949494;
      }
    }
  }
}

/**
 * Radio
 */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none
}


[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-break: break-word;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.2em;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after,
[type="radio"]:checked + span:before,
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border-radius: 50%
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid #5a5a5a
}

[type="radio"]:not(:checked) + span:after {
  -webkit-transform: scale(0);
  transform: scale(0)
}

[type="radio"]:checked + span:before {
  border: 2px solid transparent
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #26a69a
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #26a69a
}

[type="radio"]:checked + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02)
}

[type="radio"].with-gap:checked + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5)
}

[type="radio"]:focus+span:before {
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1)
}

[type="radio"].with-gap:disabled:checked + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42)
}

[type="radio"].with-gap:disabled:checked + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled:not(:checked) + span:before,
[type="radio"]:disabled:checked + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled + span {
  color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42)
}

[type="radio"]:disabled:checked + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494
}


// [type="radio"]:focus + span:before {
//   border: 2px solid #1A237E;
//   transition: none;
// }
