.btn, .btn-flat {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  color: #546E7A;
  letter-spacing: -0.01em;
  cursor: pointer;
  line-height: 1.8rem;
  padding: 0.4em 1.2em;
  border-radius: 0.4em;
  width: fit-content;
}
.btn .mdi, .btn-flat .mdi {
  font-size: 1.2rem;
  margin-right: 0.3em;
  line-height: normal;
}
.btn:hover, .btn-flat:hover {
  color: #546E7A;
}
.btn.bajo, .btn-flat.bajo {
  height: 2em;
  line-height: 2em;
  padding: 0em 1.5em 0.1em 1.5em;
}
.btn.bajo .mdi, .btn-flat.bajo .mdi {
  vertical-align: middle;
}
.btn.solo, .btn-flat.solo {
  padding-right: 1.3em;
  padding-left: 1.3em;
}
.btn.solo > .mdi, .btn-flat.solo > .mdi {
  margin: 0;
}
.btn[disabled], .btn-flat[disabled] {
  pointer-events: none;
  box-shadow: none !important;
  background: #EEEEEE !important;
  color: #BBBBBB !important;
}
.btn.icon-right .mdi, .btn-flat.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: 0;
}

.btn {
  background-color: #ECEFF1;
}
.btn:hover {
  background-color: #CFD8DC;
}

.btn-flat {
  background: none;
  box-shadow: none;
}
.btn-flat:hover {
  background: #ECEFF1;
}
.btn-flat[disabled] {
  color: #EEEEEE;
}

.link.peligroso {
  background: none;
  box-shadow: none;
}
.link.peligroso:hover {
  color: red;
  background: #f7f7f7;
}
.link.peligroso[disabled] {
  color: #EEEEEE;
}

.nota {
  background: #E1F5FE;
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 0.5rem;
}
.nota .icono {
  margin-right: 0.5em;
}
.nota .titulo {
  font-weight: 600;
}
.nota .descripcion {
  margin-top: 0.3rem;
  font-size: 0.95em;
}
.nota .descripcion b {
  font-weight: 600;
}

.chip {
  background: rgba(96, 125, 139, 0.1254901961);
  border-radius: 1em;
  display: inline-block;
  margin-right: 0.3em;
  font-weight: 500;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: #455A64;
  padding: 0.1em 1em 0.1em 1em;
  line-height: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chip .mdi {
  margin-right: 0.3em;
  margin-left: -0.3em;
}
.chip a {
  color: inherit;
}
.chip.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: -0.3em;
}
.chip.flat {
  background: none;
  padding: 0.1em 0.2em;
}
.chip.flat.hover {
  padding: 0.1em 0.7em;
}
.chip.flat.hover:hover {
  background: #EEE;
}

.desplegable {
  position: relative;
  cursor: default;
}
.desplegable > div {
  position: relative;
  padding: 0em 0.2em;
  border-radius: 0.1em;
  border: 1px solid #767676;
  user-select: none;
  line-height: 1.313em;
}
.desplegable > div:after {
  content: "";
  position: absolute;
  right: 0.3em;
  border: solid 0.15em #000;
  border-right: none;
  border-top: none;
  width: 0.3em;
  height: 0.3em;
  transform: translateY(0.3em) rotate(-45deg);
}
.desplegable > ul {
  display: none;
  position: absolute;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  background: #FFFFFF;
  z-index: 1;
  width: 100%;
  border: 1px solid #CCC;
  overflow: hidden;
  border-radius: 0.4em;
}
.desplegable > ul > li {
  padding: 0em 0.2em;
  line-height: 1.313em;
}
.desplegable > ul > li:hover {
  background: rgb(var(--default-background, 33, 150, 243));
  color: #FFFFFF;
}
.desplegable.activo > ul {
  display: block;
  z-index: 2;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
  height: 2.8rem;
  overflow: hidden;
}
.breadcrumb > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: 500;
}
.breadcrumb > li a {
  padding: 0.6em 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb > .mdi {
  color: #CCC;
}

/**
 * Navegador lateral
 */
ul.navegador li a {
  display: block;
  padding: 0.2em 0.5em;
  height: min-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.3em;
}

ul.navegador li a:hover {
  background-color: #F7F7F7;
}

ul.navegador li a.activo {
  font-weight: bold;
  background-color: #EEE;
}

.ellipsis-two-lines {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 0.5em;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  top: 10%;
  transform: scaleX(0.1) scaleY(0.1);
  opacity: 0;
}
.modal.open {
  z-index: 1003;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal.dialog {
  width: 20rem;
  min-height: 8rem;
}
.modal .ficha {
  margin-bottom: 0;
}
.modal .ficha header {
  padding: 0.7em 1em;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
}

/**
 * Alert
 */
.alert {
  position: fixed !important;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=elementos.css.map */
