@import './vars.scss';

$inputHeight: 3em;
$color: #37474f;

input[type="radio"] {
  height: 1.1em;
  width: 1.1em;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: #fff;
  line-height: 1.4em;
  &.readonly {
  }
  label {
    display: flex;
    position: absolute;
    top: 0.7em;
    left: 0.9em;
    transition: all 150ms ease-in;
    padding: 0.1em 0.4em;
    pointer-events: none;
    font-size: 0.9em;
    border-radius: 1em;
    background: transparent;
    height: 1.3em;
    overflow: hidden;
    max-width: calc(100% - 2em);
    word-break: break-all;
    font-size: 0.95em;
  }
  label.activo {
    top: -0.7em;
    left: 0.7em;
    bottom: auto;
    font-size: 0.8em;
    font-weight: 500;
    color: $color;
    z-index: 1;
    background: #FFFFFF;
  }
  select, input {
    height: 3em;
    font-size: 0.95em;
    &:active,
    &:focus {
      border-color: $color;
    }
    &[disabled] {
      color: #9E9E9E;
      border-style: dotted;
      border-color: #9E9E9E;
    }
  }
  input, select, textarea {
    border: 2px solid #757575;
    &[readonly] {
      background: #EEEEEE;
      color: #555;
    }
  }
  textarea {
    resize: vertical;
  }
  select {
    border-radius: 4px;
    padding: 0 0.8em;
    outline: none;
    min-width: 5em;
    width: inherit;
    option {
      padding: 1em;
      list-style: 2em;
    }
  }
  input {
    display: flex;
    border-radius: 4px;
    outline: none;
    padding: 0 0.7em;
  }
  .help-block {
    display: block;
    font-size: 0.8em;
    margin: 0.3em 0.7em;
    position: relative;
    line-height: 1.1em;
    background: #FFFFFF;
    display: none;
  }
  .hint-block {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    padding: 0.2em 0.7em;
    color: #555;
  }
  &.required {
    > label::after {
      content: '*';
      padding-left: 0.2em;
    }
  }
  &.has-error {
    color: #F44336;
    label {
      color: #F44336;
    }
    select,
    input {
      border-color: #F44336;
    }
    .hint-block {
      display: none;
    }
    .help-block {
      display: block;
      &:empty {
        display: none;
      }
    }
  }

  &.textarea {
    textarea {
      border-radius: 4px;
      padding: 1em;
      resize: vertical;
      height: 5em;
      min-height: 5em;
      font-size: 0.95em;
    }
    .help-block {
      position: static;
    }
  }
  &.checkbox {
    // margin: 0.6em 0 1.3em 0;
    padding: 0;
    input {
      height: 0;
    }
    > label {
      padding: 0;
      background: transparent;
      position: relative;
      min-height: 3em;
      height: auto;
      top: auto;
      left: auto;
      pointer-events: auto;
      width: 100%;
      word-break: normal;
      overflow: inherit;
      max-width: inherit;
      padding: 0.8em 0 0.8em 0.5em;
      > span.box {
        padding-left: 2.3em;
        height: auto;
      }
    }
    &.required {
      > label {
        &::after {
          content: '';
        }
      }
      .label {
        &::after {
          content: ' *';
        }
      }
    }
  }
  &.checkbox-list {
    > input + div {
      margin-top: 1em;
    }
    > div > label {
      display: flex;
      position: initial;
      pointer-events: all;
      height: inherit;
      overflow: visible;
      transition: none;
      margin-bottom: 0.3em;
      word-break: normal;
    }
  }
  &.radiolist {
    margin-top: 0;
    > [role=radiogroup] {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0.1em;
      > label {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        position: static;
        pointer-events: auto;
        font-size: 1em;
        height: auto;
        color: #37474f;
        line-height: 1.1em;
        overflow: visible;
        &:not(:last-child) {
          margin-right: 0.5em;
        }
        input {
          display: block;
          margin: 0 0.8em 0 0.3em;
        }
      }
    }
    > label {
      position: static;
      font-size: 0.8em;
      font-weight: 500;
      display: block;
    }
  }
}

.form {
  background: #FFF;
  border-radius: $border-radius;
  .fieldset {
    padding: 1.2em 1.5em;
    border: 1px solid #DDDDDD;
    margin-bottom: 1em;
    .filas {
      padding: 0;
    }
    header {
      display: flex;
      justify-content: space-between;
      .informacion {
        display: flex;
        .icono,
        .titulo .nombre {
          font-size: 2em;
        }
        .icono {
          i.mdi {
            color: #37474F;
            margin-right: 0.4em;
            margin-left: -0.2em;
          }
        }
        .titulo {
          .nombre {
            font-weight: bold;
          }
        }
      }
      .estado {
        .icono {
          display: none;
          color: #90A4AE;
          text-transform: uppercase;
          font-size: 0.8em;
          font-weight: 500;
          flex-direction: row;
          align-items: center;
          .mdi {
            font-size: 2em;
            margin-left: 0.2em;
          }
        }
      }
    }
    main {
      margin-top: 1.5em;
    }
    footer {
      padding-left: 0.5em;
      margin-top: 1.5em;
      display: flex;
      .botones {
      display: flex;
        .boton {
          margin-right: 0.7em;
        }
      }
    }
    &.error header .estado .icono.error {
      display: flex;
      color: #EF5350;
    }
    &.pendiente header .estado .icono.pendiente {
      display: flex;
      color: #AAA;
    }
    &.activo header .estado .icono.activo {
      display: flex;
    }
    &.listo header .estado .icono.listo {
      display: flex;
      color: #81C784;
    }
  }
  .filas {
    background: #FFF;
    border-radius: $border-radius;
    padding: 1.2em 1.5em;
    .titulo {
      margin-left: 1rem;
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0.5em;
      .mdi {
        color: #555;
        margin-right: 0.5em;
      }
    }
    .fila {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      &.completa {
        flex-wrap: nowrap;
        .campo {
          width: 100%;
        }
      }
      .campo {
        display: flex;
        align-items: baseline;
        padding: 0.6em 0 1.3em 0;
        position: relative;
        > .mdi {
          font-size: 1.6em;
          color: #455a64;
          margin: 0em 1rem 0em 0.3rem;
        }
        &.ancho {
          width: 100%;
        }
        &.grande {
          width: 100%;
          margin-right: 0;
        }
        &:not(:last-child):not(.grande) {
          margin-right: 2em;
        }
        &.estrecho {
          padding: 0;
          .form-group {
            margin: 0;
            padding: 0;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
  .opciones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #E7E7E7;
    background: #FAFAFA;
    background: linear-gradient(0deg, #FFFFFF 0%, #f7f7f7 100%);
    z-index: 10;
    border-radius: 0 0 $border-radius $border-radius;
    .opcion {
      margin-left: 0.5em;
      .btn {
        background: #546e7a;
        color: #FFF;
      }
      .btn:hover {
        background: #455a64;
      }
    }
  }
  button {
    cursor: pointer;
  }
}

.form {
  .desplegable {
    > div {
      padding: 0.644em 0.8em;
      border-width: 0.15em;
      border-radius: 0.3em;
      min-height: 2.85em;
    }
    > ul {
      padding: 0.3em 0;
      > li {
        min-height: 1.711em;
        padding: 0.2em 0.8em;
      }
    }
  }
}

.form.filtro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5em 1em 1.2rem;
  border-radius: 0;
  position: sticky;
  top: 0em;
  z-index: 100;
  border-bottom: 1px solid #EEE;
  .fila {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    .campo {
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      > .mdi {
        font-size: 1.2em;
        color: #999;
        margin-right: 0.3em;
      }
      &:not(:last-child) {
        margin-right: 1em;
      }
      .form-group {
        background: none;
        label {
          font-size: 0.8em;
          font-weight: 500;
          color: #37474f;
          position: static;
          padding: 0;
        }
        input, select {
          height: 2.2em;
          border-color: #DDD;
          border-width: 1px;
          color: #999;
          width: 100%;
          background-color: #f8f8f8;
          &:focus {
            border-color: #B0BEC5;
            color: inherit;
          }
        }
        select {
          padding-left: 0.2em;
        }
        input {
          padding-left: 0.5em;
          &::placeholder {
            color: #999;
          }
        }
      }
    }
    .campo.activo {
      .mdi {
        color: #555;
      }
      input, select {
        color: inherit;
        background-color: #FFF;
      }
    }
  }
  .botones {
  }
}

// ql editor
.form-group.ql label {
  top: 3.5em;
  left: 0.7em;
  height: 1.4em;
  transition-duration: 190ms;
  z-index: 1;
  &.activo {
    top: -0.7em;
  }
}

@import 'checkbox';

