:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

input[type=radio] {
  height: 1.1em;
  width: 1.1em;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: #fff;
  line-height: 1.4em;
}
.form-group label {
  display: flex;
  position: absolute;
  top: 0.7em;
  left: 0.9em;
  transition: all 150ms ease-in;
  padding: 0.1em 0.4em;
  pointer-events: none;
  font-size: 0.9em;
  border-radius: 1em;
  background: transparent;
  height: 1.3em;
  overflow: hidden;
  max-width: calc(100% - 2em);
  word-break: break-all;
  font-size: 0.95em;
}
.form-group label.activo {
  top: -0.7em;
  left: 0.7em;
  bottom: auto;
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  z-index: 1;
  background: #FFFFFF;
}
.form-group select, .form-group input {
  height: 3em;
  font-size: 0.95em;
}
.form-group select:active, .form-group select:focus, .form-group input:active, .form-group input:focus {
  border-color: #37474f;
}
.form-group select[disabled], .form-group input[disabled] {
  color: #9E9E9E;
  border-style: dotted;
  border-color: #9E9E9E;
}
.form-group input, .form-group select, .form-group textarea {
  border: 2px solid #757575;
}
.form-group input[readonly], .form-group select[readonly], .form-group textarea[readonly] {
  background: #EEEEEE;
  color: #555;
}
.form-group textarea {
  resize: vertical;
}
.form-group select {
  border-radius: 4px;
  padding: 0 0.8em;
  outline: none;
  min-width: 5em;
  width: inherit;
}
.form-group select option {
  padding: 1em;
  list-style: 2em;
}
.form-group input {
  display: flex;
  border-radius: 4px;
  outline: none;
  padding: 0 0.7em;
}
.form-group .help-block {
  display: block;
  font-size: 0.8em;
  margin: 0.3em 0.7em;
  position: relative;
  line-height: 1.1em;
  background: #FFFFFF;
  display: none;
}
.form-group .hint-block {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.7em;
  color: #555;
}
.form-group.required > label::after {
  content: "*";
  padding-left: 0.2em;
}
.form-group.has-error {
  color: #F44336;
}
.form-group.has-error label {
  color: #F44336;
}
.form-group.has-error select,
.form-group.has-error input {
  border-color: #F44336;
}
.form-group.has-error .hint-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
.form-group.has-error .help-block:empty {
  display: none;
}
.form-group.textarea textarea {
  border-radius: 4px;
  padding: 1em;
  resize: vertical;
  height: 5em;
  min-height: 5em;
  font-size: 0.95em;
}
.form-group.textarea .help-block {
  position: static;
}
.form-group.checkbox {
  padding: 0;
}
.form-group.checkbox input {
  height: 0;
}
.form-group.checkbox > label {
  padding: 0;
  background: transparent;
  position: relative;
  min-height: 3em;
  height: auto;
  top: auto;
  left: auto;
  pointer-events: auto;
  width: 100%;
  word-break: normal;
  overflow: inherit;
  max-width: inherit;
  padding: 0.8em 0 0.8em 0.5em;
}
.form-group.checkbox > label > span.box {
  padding-left: 2.3em;
  height: auto;
}
.form-group.checkbox.required > label::after {
  content: "";
}
.form-group.checkbox.required .label::after {
  content: " *";
}
.form-group.checkbox-list > input + div {
  margin-top: 1em;
}
.form-group.checkbox-list > div > label {
  display: flex;
  position: initial;
  pointer-events: all;
  height: inherit;
  overflow: visible;
  transition: none;
  margin-bottom: 0.3em;
  word-break: normal;
}
.form-group.radiolist {
  margin-top: 0;
}
.form-group.radiolist > [role=radiogroup] {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.1em;
}
.form-group.radiolist > [role=radiogroup] > label {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: static;
  pointer-events: auto;
  font-size: 1em;
  height: auto;
  color: #37474f;
  line-height: 1.1em;
  overflow: visible;
}
.form-group.radiolist > [role=radiogroup] > label:not(:last-child) {
  margin-right: 0.5em;
}
.form-group.radiolist > [role=radiogroup] > label input {
  display: block;
  margin: 0 0.8em 0 0.3em;
}
.form-group.radiolist > label {
  position: static;
  font-size: 0.8em;
  font-weight: 500;
  display: block;
}

.form {
  background: #FFF;
  border-radius: 0.6em;
}
.form .fieldset {
  padding: 1.2em 1.5em;
  border: 1px solid #DDDDDD;
  margin-bottom: 1em;
}
.form .fieldset .filas {
  padding: 0;
}
.form .fieldset header {
  display: flex;
  justify-content: space-between;
}
.form .fieldset header .informacion {
  display: flex;
}
.form .fieldset header .informacion .icono,
.form .fieldset header .informacion .titulo .nombre {
  font-size: 2em;
}
.form .fieldset header .informacion .icono i.mdi {
  color: #37474F;
  margin-right: 0.4em;
  margin-left: -0.2em;
}
.form .fieldset header .informacion .titulo .nombre {
  font-weight: bold;
}
.form .fieldset header .estado .icono {
  display: none;
  color: #90A4AE;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
}
.form .fieldset header .estado .icono .mdi {
  font-size: 2em;
  margin-left: 0.2em;
}
.form .fieldset main {
  margin-top: 1.5em;
}
.form .fieldset footer {
  padding-left: 0.5em;
  margin-top: 1.5em;
  display: flex;
}
.form .fieldset footer .botones {
  display: flex;
}
.form .fieldset footer .botones .boton {
  margin-right: 0.7em;
}
.form .fieldset.error header .estado .icono.error {
  display: flex;
  color: #EF5350;
}
.form .fieldset.pendiente header .estado .icono.pendiente {
  display: flex;
  color: #AAA;
}
.form .fieldset.activo header .estado .icono.activo {
  display: flex;
}
.form .fieldset.listo header .estado .icono.listo {
  display: flex;
  color: #81C784;
}
.form .filas {
  background: #FFF;
  border-radius: 0.6em;
  padding: 1.2em 1.5em;
}
.form .filas .titulo {
  margin-left: 1rem;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.form .filas .titulo .mdi {
  color: #555;
  margin-right: 0.5em;
}
.form .filas .fila {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.form .filas .fila.completa {
  flex-wrap: nowrap;
}
.form .filas .fila.completa .campo {
  width: 100%;
}
.form .filas .fila .campo {
  display: flex;
  align-items: baseline;
  padding: 0.6em 0 1.3em 0;
  position: relative;
}
.form .filas .fila .campo > .mdi {
  font-size: 1.6em;
  color: #455a64;
  margin: 0em 1rem 0em 0.3rem;
}
.form .filas .fila .campo.ancho {
  width: 100%;
}
.form .filas .fila .campo.grande {
  width: 100%;
  margin-right: 0;
}
.form .filas .fila .campo:not(:last-child):not(.grande) {
  margin-right: 2em;
}
.form .filas .fila .campo.estrecho {
  padding: 0;
}
.form .filas .fila .campo.estrecho .form-group {
  margin: 0;
  padding: 0;
}
.form .filas .fila:not(:last-child) {
  margin-bottom: 1em;
}
.form .opciones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #E7E7E7;
  background: #FAFAFA;
  background: linear-gradient(0deg, #FFFFFF 0%, #f7f7f7 100%);
  z-index: 10;
  border-radius: 0 0 0.6em 0.6em;
}
.form .opciones .opcion {
  margin-left: 0.5em;
}
.form .opciones .opcion .btn {
  background: #546e7a;
  color: #FFF;
}
.form .opciones .opcion .btn:hover {
  background: #455a64;
}
.form button {
  cursor: pointer;
}

.form .desplegable > div {
  padding: 0.644em 0.8em;
  border-width: 0.15em;
  border-radius: 0.3em;
  min-height: 2.85em;
}
.form .desplegable > ul {
  padding: 0.3em 0;
}
.form .desplegable > ul > li {
  min-height: 1.711em;
  padding: 0.2em 0.8em;
}

.form.filtro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5em 1em 1.2rem;
  border-radius: 0;
  position: sticky;
  top: 0em;
  z-index: 100;
  border-bottom: 1px solid #EEE;
}
.form.filtro .fila {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.form.filtro .fila:not(:last-child) {
  margin-bottom: 0.5em;
}
.form.filtro .fila .campo {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.form.filtro .fila .campo > .mdi {
  font-size: 1.2em;
  color: #999;
  margin-right: 0.3em;
}
.form.filtro .fila .campo:not(:last-child) {
  margin-right: 1em;
}
.form.filtro .fila .campo .form-group {
  background: none;
}
.form.filtro .fila .campo .form-group label {
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  position: static;
  padding: 0;
}
.form.filtro .fila .campo .form-group input, .form.filtro .fila .campo .form-group select {
  height: 2.2em;
  border-color: #DDD;
  border-width: 1px;
  color: #999;
  width: 100%;
  background-color: #f8f8f8;
}
.form.filtro .fila .campo .form-group input:focus, .form.filtro .fila .campo .form-group select:focus {
  border-color: #B0BEC5;
  color: inherit;
}
.form.filtro .fila .campo .form-group select {
  padding-left: 0.2em;
}
.form.filtro .fila .campo .form-group input {
  padding-left: 0.5em;
}
.form.filtro .fila .campo .form-group input::placeholder {
  color: #999;
}
.form.filtro .fila .campo.activo .mdi {
  color: #555;
}
.form.filtro .fila .campo.activo input, .form.filtro .fila .campo.activo select {
  color: inherit;
  background-color: #FFF;
}
.form-group.ql label {
  top: 3.5em;
  left: 0.7em;
  height: 1.4em;
  transition-duration: 190ms;
  z-index: 1;
}
.form-group.ql label.activo {
  top: -0.7em;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=checkbox] + div.box,
[type=checkbox] + div.box + div.label {
  display: inline-block;
  vertical-align: top;
}

[type=checkbox] + div.box + div.label {
  margin-left: 1em;
  user-select: none;
}

[type=checkbox] + div.box {
  cursor: pointer;
  user-select: none;
  width: 1.4em;
  min-width: 1.4em;
  height: 1.4em;
}
[type=checkbox] + div.box:before, [type=checkbox] + div.box:after {
  display: block;
  content: "";
  position: absolute;
  transition: background-color 0.2s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
[type=checkbox] + div.box:after {
  border-radius: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
[type=checkbox]:not(:checked):disabled + div.box:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}
[type=checkbox]:not(:checked) + div.box:after {
  background-color: transparent;
  border: 2px solid #5a5a5a;
  z-index: 0;
}
[type=checkbox]:checked + div.box:before {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.35em;
  border: solid 0.15em #FFF;
  border-right: none;
  border-top: none;
  transform: translate(0.2em, 0.35em) rotate(-47deg);
}
[type=checkbox]:checked + div.box:after {
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
}
[type=checkbox]:disabled:not(:checked) + div.box:before {
  background-color: transparent;
  border: 2px solid transparent;
}
[type=checkbox]:disabled:not(:checked) + div.box:after {
  border-color: transparent;
  background-color: #949494;
}
[type=checkbox]:disabled:checked + div.box:before {
  background-color: transparent;
}
[type=checkbox]:disabled:checked + div.box:after {
  background-color: #949494;
  border-color: #949494;
}

/**
 * Radio
 */
[type=radio]:not(:checked),
[type=radio]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=radio]:not(:checked) + span,
[type=radio]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-break: break-word;
}

[type=radio] + span:before,
[type=radio] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.2em;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after,
[type=radio]:checked + span:before,
[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border-radius: 50%;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after {
  border: 2px solid #5a5a5a;
}

[type=radio]:not(:checked) + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type=radio]:checked + span:before {
  border: 2px solid transparent;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border: 2px solid #26a69a;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:after {
  background-color: #26a69a;
}

[type=radio]:checked + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

[type=radio].with-gap:checked + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

[type=radio]:focus + span:before {
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1);
}

[type=radio].with-gap:disabled:checked + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

[type=radio].with-gap:disabled:checked + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:not(:checked) + span:before,
[type=radio]:disabled:checked + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled + span {
  color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:checked + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}

/*# sourceMappingURL=form.css.map */
