h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

a {
  color: #01579B;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #003969;
}
a img.icon {
  height: 1.2em;
  vertical-align: sub;
}

* {
  box-sizing: border-box;
  line-height: 1.4em;
}

table {
  width: 100%;
}
table th, table td {
  vertical-align: middle;
}

svg {
  display: block;
}

label {
  position: relative;
}

/*# sourceMappingURL=html.css.map */
