@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html body {
  background: #eceff177;
}

* {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}
#pagina {
  background-image: url(/plamip/img/fondo_2.jpg);
}

#header {
  padding: 0.5em 2em 0.5em 1em;
  background: #FFFFFFAA;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
#logo {
  img {
    height: 3rem;
  }
}
#main {
  min-height: calc(100vh - 10rem);
  .wrapper {
    padding: 0 1em;
  }
}
#main header {
  padding: 1.5em 0;
  .titulo {
    font-size: 1.1em;
  }
}
#menu {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  > li {
    display: block;
    margin: 0 1em;
    position: relative;
    > a {
      font-weight: 500;
      font-size: 1.05rem;
      color: #607D8B;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &:hover {
        color: #455a64;
      }
      &.btn {
        border-radius: 0.3em;
        background: #bc5957;
        color: #FFF;
        .mdi {
          font-size: 1.3em;
          margin-left: 0.1em;
        }
      }
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      box-shadow: 0 0.1em 0.4em -0.2em #000;
      min-width: 100%;
      background: #FFF;
      padding: 0.3em 0;
      border-radius: 0.3em;
      li {
        &:hover {
          background: #EEE;
        }
        a {
          padding: 0.5em 1em;
          display: flex;
          align-items: center;
          color: #546E7A;
          .mdi {
            font-size: 1.6em;
            line-height: 1em;
            margin-right: 0.4em;
          }
        }
      }
      &.activo {
        display: block;
        right: 0;
      }
    }
  }
}
#menu #btn-usuario {
  padding: 0 1em;
  border-radius: 0.3em;
  background: #dce6ef;
  color: #546E7A;
  min-width: 8em;
  .mdi {
    font-size: 2em;
    margin-left: 0.3em;
  }
  &:hover {
    background: #d2dfea;
  }
}

#footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#footer {
  background: #dce6efaa;
  padding: 2em 0;
  a {
    font-weight: 600;
    &.logo {
      display: flex;
      align-items: center;
      img {
        margin-right: 0.5em;
        height: 1.6em;
      }
    }
  }
  .firma {
    padding: 1em;
    text-align: center;
    color: #B0BEC5;
  }
  .informacion {
    display: flex;
    padding: 2em 4em;
    .columna {
      margin: 0 1em;
      width: calc(100% / 3);
      .titulo {
        font-weight: 700;
        font-size: 1.1em;
        margin-bottom: 1em;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          align-items: top;
          padding: 0.3em 0;
          .icono {
            .mdi {
              font-size: 1.3em;
              margin-right: 0.3em;
            }
          }
        }
      }
    }
  }
}
