@import '../../../common/resources/scss/vendor/reset.scss';
@import '../../../common/resources/scss/html.scss';
@import '../../../common/resources/scss/helpers.scss';

@import 'layout.scss';
@import '../../../backend/resources/scss/ficha.scss';

@import '../../../common/resources/scss/elementos.scss';
@import '../../../common/resources/scss/form.scss';


/**
 * Definicion de estilos
 */

@import 'mobile.scss';

#buscador {
  .mdi {
    font-size: 2em;
  }
}

.hide {
  display: none;
}

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;

  width: var(--w);
  aspect-ratio: 1.01;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}
.animate {
  animation: p 1s .5s both;
}
@keyframes p {
  from { --p: 0 }
}
