#flashes {
  position: fixed;
  top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 1000;
}

#flashes li {
  position: relative;
  background: #EEE;
  margin: 0 1em 0.6em 1em;
  padding: 0.8em 3.6em 0.8em 1.2em;
  min-width: 20em;
  max-width: 60em;
  box-shadow: 0 0.2em 2em -1em;
  box-shadow: 0 0.1em 0.4em -0.2em #333;
  border-radius: 0.5em;
  border: 1px solid #a5a5a5;
}

#flashes li.success {
  background: #C8E6C9;
  border: 1px solid #A5D6A7;
}
#flashes li.info {
  background: #C5CAE9;
  border: 1px solid #9FA8DA;
}
#flashes li.warning {
  background: #FFE0B2;
  border: 1px solid #FFCC80;
}
#flashes li.error {
  background: #FFCDD2;
  border: 1px solid #EF9A9A;
}


#flashes li .cerrar {
  position: absolute;
  top: 0.6em;
  right: 1em;
  border: none;
  cursor: pointer;
  background: transparent;
}

#flashes li .cerrar:hover {
  background: #00000011;
  border-radius: 0.4em;
}

#flashes li .cerrar .mdi {
  font-size: 1.6em;
}
