@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html body {
  background: rgba(236, 239, 241, 0.4666666667);
}

* {
  font-family: "Montserrat", "Arial", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

#pagina {
  background-image: url(/plamip/img/fondo_2.jpg);
}

#header {
  padding: 0.5em 2em 0.5em 1em;
  background: rgba(255, 255, 255, 0.6666666667);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#logo img {
  height: 3rem;
}

#main {
  min-height: calc(100vh - 10rem);
}
#main .wrapper {
  padding: 0 1em;
}

#main header {
  padding: 1.5em 0;
}
#main header .titulo {
  font-size: 1.1em;
}

#menu {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu > li {
  display: block;
  margin: 0 1em;
  position: relative;
}
#menu > li > a {
  font-weight: 500;
  font-size: 1.05rem;
  color: #607D8B;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#menu > li > a:hover {
  color: #455a64;
}
#menu > li > a.btn {
  border-radius: 0.3em;
  background: #bc5957;
  color: #FFF;
}
#menu > li > a.btn .mdi {
  font-size: 1.3em;
  margin-left: 0.1em;
}
#menu > li ul {
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  min-width: 100%;
  background: #FFF;
  padding: 0.3em 0;
  border-radius: 0.3em;
}
#menu > li ul li:hover {
  background: #EEE;
}
#menu > li ul li a {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  color: #546E7A;
}
#menu > li ul li a .mdi {
  font-size: 1.6em;
  line-height: 1em;
  margin-right: 0.4em;
}
#menu > li ul.activo {
  display: block;
  right: 0;
}

#menu #btn-usuario {
  padding: 0 1em;
  border-radius: 0.3em;
  background: #dce6ef;
  color: #546E7A;
  min-width: 8em;
}
#menu #btn-usuario .mdi {
  font-size: 2em;
  margin-left: 0.3em;
}
#menu #btn-usuario:hover {
  background: #d2dfea;
}

#footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#footer {
  background: rgba(220, 230, 239, 0.6666666667);
  padding: 2em 0;
}
#footer a {
  font-weight: 600;
}
#footer a.logo {
  display: flex;
  align-items: center;
}
#footer a.logo img {
  margin-right: 0.5em;
  height: 1.6em;
}
#footer .firma {
  padding: 1em;
  text-align: center;
  color: #B0BEC5;
}
#footer .informacion {
  display: flex;
  padding: 2em 4em;
}
#footer .informacion .columna {
  margin: 0 1em;
  width: 33.3333333333%;
}
#footer .informacion .columna .titulo {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 1em;
}
#footer .informacion .columna ul li {
  display: flex;
  align-items: center;
  align-items: top;
  padding: 0.3em 0;
}
#footer .informacion .columna ul li .icono .mdi {
  font-size: 1.3em;
  margin-right: 0.3em;
}

/*# sourceMappingURL=layout.css.map */
