/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*  font: inherit;*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
}

a {
  color: #01579B;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #003969;
}
a img.icon {
  height: 1.2em;
  vertical-align: sub;
}

* {
  box-sizing: border-box;
  line-height: 1.4em;
}

table {
  width: 100%;
}
table th, table td {
  vertical-align: middle;
}

svg {
  display: block;
}

label {
  position: relative;
}

.hidden {
  display: none !important;
}

.columnas-ajustadas {
  display: flex;
}
.columnas-ajustadas .columna {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.columnas-ajustadas .columna:not(:last-of-type) {
  margin-right: 1em;
}
.columnas-ajustadas.horizontal {
  flex-direction: column;
}
.columnas-ajustadas.horizontal .columna {
  flex-direction: row;
}
.columnas-ajustadas.horizontal .columna > * {
  margin-right: 1em;
}
.columnas-ajustadas.horizontal .columna > *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1300px) {
  .columnas-ajustadas {
    flex-direction: column;
  }
}
.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

html body {
  background: rgba(236, 239, 241, 0.4666666667);
}

* {
  font-family: "Montserrat", "Arial", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

#pagina {
  background-image: url(/plamip/img/fondo_2.jpg);
}

#header {
  padding: 0.5em 2em 0.5em 1em;
  background: rgba(255, 255, 255, 0.6666666667);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#logo img {
  height: 3rem;
}

#main {
  min-height: calc(100vh - 10rem);
}
#main .wrapper {
  padding: 0 1em;
}

#main header {
  padding: 1.5em 0;
}
#main header .titulo {
  font-size: 1.1em;
}

#menu {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu > li {
  display: block;
  margin: 0 1em;
  position: relative;
}
#menu > li > a {
  font-weight: 500;
  font-size: 1.05rem;
  color: #607D8B;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#menu > li > a:hover {
  color: #455a64;
}
#menu > li > a.btn {
  border-radius: 0.3em;
  background: #bc5957;
  color: #FFF;
}
#menu > li > a.btn .mdi {
  font-size: 1.3em;
  margin-left: 0.1em;
}
#menu > li ul {
  display: none;
  position: absolute;
  right: 0;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  min-width: 100%;
  background: #FFF;
  padding: 0.3em 0;
  border-radius: 0.3em;
}
#menu > li ul li:hover {
  background: #EEE;
}
#menu > li ul li a {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  color: #546E7A;
}
#menu > li ul li a .mdi {
  font-size: 1.6em;
  line-height: 1em;
  margin-right: 0.4em;
}
#menu > li ul.activo {
  display: block;
  right: 0;
}

#menu #btn-usuario {
  padding: 0 1em;
  border-radius: 0.3em;
  background: #dce6ef;
  color: #546E7A;
  min-width: 8em;
}
#menu #btn-usuario .mdi {
  font-size: 2em;
  margin-left: 0.3em;
}
#menu #btn-usuario:hover {
  background: #d2dfea;
}

#footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#footer {
  background: rgba(220, 230, 239, 0.6666666667);
  padding: 2em 0;
}
#footer a {
  font-weight: 600;
}
#footer a.logo {
  display: flex;
  align-items: center;
}
#footer a.logo img {
  margin-right: 0.5em;
  height: 1.6em;
}
#footer .firma {
  padding: 1em;
  text-align: center;
  color: #B0BEC5;
}
#footer .informacion {
  display: flex;
  padding: 2em 4em;
}
#footer .informacion .columna {
  margin: 0 1em;
  width: 33.3333333333%;
}
#footer .informacion .columna .titulo {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 1em;
}
#footer .informacion .columna ul li {
  display: flex;
  align-items: center;
  align-items: top;
  padding: 0.3em 0;
}
#footer .informacion .columna ul li .icono .mdi {
  font-size: 1.3em;
  margin-right: 0.3em;
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

/**

  <div class="ficha">
    <header>
      <div class="principal">
        <div class="icono"> <i class="mdi mdi-square"></i> </div>
        <div class="titulo">
          <div class="nombre"> </div>
          <div class="descripcion"> </div>
        </div>
      </div>
    </header>
    <main>
      <div class="fila">
        <div class="campo">
          <div class="label">
            <?= $model->getAttributeLabel('attribute') ?>
          </div>
          <div class="value">
            <?= $model->attribute ?>
          </div>
        </div>
      </div>
    </main>
  </div>

 */
.ficha {
  border-radius: 0.6em;
  margin-bottom: 1em;
}
.ficha > header {
  padding: 1.2em 1.5em 1.2em 1.5em;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.ficha > header .principal {
  display: flex;
  align-items: flex-start;
}
.ficha > header .principal .icono {
  margin-right: 1em;
}
.ficha > header .principal .icono .mdi {
  font-size: 2em;
}
.ficha > header .principal .icono .numero {
  font-weight: 800;
  font-size: 1.5rem;
}
.ficha > header .principal .titulo .nombre {
  font-weight: 600;
  font-size: 1.05em;
  letter-spacing: -0.02em;
  padding: 0.5em 0 0.3em 0;
  display: flex;
  align-items: center;
}
.ficha > header .principal .titulo .descripcion {
  font-size: 0.9em;
  color: #424242;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  line-height: 1.6em;
}
.ficha > header .principal .titulo .descripcion .campo {
  margin-right: 1em;
}
.ficha > header .opciones {
  display: flex;
  white-space: nowrap;
}
.ficha > header .opciones .opcion {
  margin-left: 0.5em;
}
.ficha > header .opciones .opcion .btn .mdi,
.ficha > header .opciones .opcion .btn-flat .mdi {
  font-size: 1.4rem;
  vertical-align: sub;
}
.ficha > header .opciones .opcion .btn.solo,
.ficha > header .opciones .opcion .btn-flat.solo {
  padding-right: 0.8em;
  padding-left: 0.8em;
}
.ficha > header .opciones .opcion .btn.solo .mdi,
.ficha > header .opciones .opcion .btn-flat.solo .mdi {
  margin-right: 0;
}
.ficha > header .opciones .opcion .btn.grande,
.ficha > header .opciones .opcion .btn-flat.grande {
  padding: 0.1em 0.2em;
  border-radius: 0.5em;
}
.ficha > header .opciones .opcion .btn.grande .mdi,
.ficha > header .opciones .opcion .btn-flat.grande .mdi {
  font-size: 2rem;
}
.ficha > main {
  padding: 0em 1.5em 1em 1.5em;
}
.ficha > main > header {
  padding: 0.2em 0;
}
.ficha > main > header .titulo {
  font-weight: bold;
  letter-spacing: -0.03em;
}
.ficha > main > header .titulo .mdi {
  margin-right: 0.2em;
}
.ficha > main .fila {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1em;
}
.ficha > main .fila:first-child {
  margin-top: 0.5em;
}
.ficha > main .fila:last-child {
  margin-bottom: 0;
}
.ficha > main .fila .campo {
  margin: 0 3em 1em 0;
}
.ficha > main .fila .campo > .label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #37474F;
  margin-bottom: 0.3em;
}
.ficha > main .fila .campo.grande {
  width: 100%;
  margin-right: 0;
}
.ficha > footer {
  padding: 0.7em 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: nowrap;
}
.ficha > footer .opciones {
  display: flex;
}
.ficha > footer .opciones.center {
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}
.ficha > footer .opciones.center .opcion {
  margin-bottom: 0.5em;
}
.ficha > footer .opciones .opcion {
  margin-left: 0.5em;
}
.ficha.ocultable > header {
  cursor: pointer;
}
.ficha.ocultable > header::before {
  font: normal normal normal 24px/1 "Material Design Icons";
  content: "\f0143";
  color: #bdbdbd;
  line-height: 1em;
  float: right;
  text-shadow: 0em 0em 0.8em #fff;
}
.ficha.ocultable.oculta > header::before {
  content: "\f0140";
}
.ficha.ocultable.oculta > main {
  display: none;
}
.ficha.ocultable.oculta > footer {
  display: none;
}

/** campo lineal */
.ficha.lineal .fila,
.ficha .fila.lineal {
  flex-direction: column;
}

.ficha.lineal .fila .campo,
.ficha .fila.lineal .campo,
.ficha .fila .campo.lineal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ficha.lineal .fila .campo .label,
.ficha .fila.lineal .campo .label,
.ficha .fila .campo.lineal .label {
  margin-bottom: 0;
}

.ficha.accion {
  background: none;
}
.ficha.accion > header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.ficha.accion > header .principal .icono .mdi {
  font-size: 1.4em;
}

.ficha.header > header .icono .mdi {
  font-size: 3em;
  line-height: 1em;
  margin-right: 0.5rem;
}

.ficha.lista > header {
  font-size: 1em;
  padding: 1.2em 1.5em 0em 1.5em;
  margin-bottom: 0;
}
.ficha.lista main {
  padding: 1em;
}
.ficha.lista .items .item .informacion .campo {
  margin-bottom: 0;
}
.ficha.lista.con-filtro > main {
  padding: 0;
}
.ficha.lista.con-filtro > main > .lista {
  padding: 0 1em 1em 1em;
}
.btn, .btn-flat {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  font-size: 0.9rem;
  color: #546E7A;
  letter-spacing: -0.01em;
  cursor: pointer;
  line-height: 1.8rem;
  padding: 0.4em 1.2em;
  border-radius: 0.4em;
  width: fit-content;
}
.btn .mdi, .btn-flat .mdi {
  font-size: 1.2rem;
  margin-right: 0.3em;
  line-height: normal;
}
.btn:hover, .btn-flat:hover {
  color: #546E7A;
}
.btn.bajo, .btn-flat.bajo {
  height: 2em;
  line-height: 2em;
  padding: 0em 1.5em 0.1em 1.5em;
}
.btn.bajo .mdi, .btn-flat.bajo .mdi {
  vertical-align: middle;
}
.btn.solo, .btn-flat.solo {
  padding-right: 1.3em;
  padding-left: 1.3em;
}
.btn.solo > .mdi, .btn-flat.solo > .mdi {
  margin: 0;
}
.btn[disabled], .btn-flat[disabled] {
  pointer-events: none;
  box-shadow: none !important;
  background: #EEEEEE !important;
  color: #BBBBBB !important;
}
.btn.icon-right .mdi, .btn-flat.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: 0;
}

.btn {
  background-color: #ECEFF1;
}
.btn:hover {
  background-color: #CFD8DC;
}

.btn-flat {
  background: none;
  box-shadow: none;
}
.btn-flat:hover {
  background: #ECEFF1;
}
.btn-flat[disabled] {
  color: #EEEEEE;
}

.link.peligroso {
  background: none;
  box-shadow: none;
}
.link.peligroso:hover {
  color: red;
  background: #f7f7f7;
}
.link.peligroso[disabled] {
  color: #EEEEEE;
}

.nota {
  background: #E1F5FE;
  padding: 1em 1.5em;
  width: 100%;
  border-radius: 0.5rem;
}
.nota .icono {
  margin-right: 0.5em;
}
.nota .titulo {
  font-weight: 600;
}
.nota .descripcion {
  margin-top: 0.3rem;
  font-size: 0.95em;
}
.nota .descripcion b {
  font-weight: 600;
}

.chip {
  background: rgba(96, 125, 139, 0.1254901961);
  border-radius: 1em;
  display: inline-block;
  margin-right: 0.3em;
  font-weight: 500;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: #455A64;
  padding: 0.1em 1em 0.1em 1em;
  line-height: inherit;
  line-height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.chip .mdi {
  margin-right: 0.3em;
  margin-left: -0.3em;
}
.chip a {
  color: inherit;
}
.chip.icon-right .mdi {
  margin-left: 0.3em;
  margin-right: -0.3em;
}
.chip.flat {
  background: none;
  padding: 0.1em 0.2em;
}
.chip.flat.hover {
  padding: 0.1em 0.7em;
}
.chip.flat.hover:hover {
  background: #EEE;
}

.desplegable {
  position: relative;
  cursor: default;
}
.desplegable > div {
  position: relative;
  padding: 0em 0.2em;
  border-radius: 0.1em;
  border: 1px solid #767676;
  user-select: none;
  line-height: 1.313em;
}
.desplegable > div:after {
  content: "";
  position: absolute;
  right: 0.3em;
  border: solid 0.15em #000;
  border-right: none;
  border-top: none;
  width: 0.3em;
  height: 0.3em;
  transform: translateY(0.3em) rotate(-45deg);
}
.desplegable > ul {
  display: none;
  position: absolute;
  box-shadow: 0 0.1em 0.4em -0.2em #000;
  background: #FFFFFF;
  z-index: 1;
  width: 100%;
  border: 1px solid #CCC;
  overflow: hidden;
  border-radius: 0.4em;
}
.desplegable > ul > li {
  padding: 0em 0.2em;
  line-height: 1.313em;
}
.desplegable > ul > li:hover {
  background: rgb(var(--default-background, 33, 150, 243));
  color: #FFFFFF;
}
.desplegable.activo > ul {
  display: block;
  z-index: 2;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
  height: 2.8rem;
  overflow: hidden;
}
.breadcrumb > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: 500;
}
.breadcrumb > li a {
  padding: 0.6em 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb > .mdi {
  color: #CCC;
}

/**
 * Navegador lateral
 */
ul.navegador li a {
  display: block;
  padding: 0.2em 0.5em;
  height: min-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.3em;
}

ul.navegador li a:hover {
  background-color: #F7F7F7;
}

ul.navegador li a.activo {
  font-weight: bold;
  background-color: #EEE;
}

.ellipsis-two-lines {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 0.5em;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  top: 10%;
  transform: scaleX(0.1) scaleY(0.1);
  opacity: 0;
}
.modal.open {
  z-index: 1003;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal.dialog {
  width: 20rem;
  min-height: 8rem;
}
.modal .ficha {
  margin-bottom: 0;
}
.modal .ficha header {
  padding: 0.7em 1em;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
}

/**
 * Alert
 */
.alert {
  position: fixed !important;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

:root {
  --color-1: #00897b;
  --color-1-dark: #00796B;
  --background-1: #E0F2F1;
}

input[type=radio] {
  height: 1.1em;
  width: 1.1em;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: #fff;
  line-height: 1.4em;
}
.form-group label {
  display: flex;
  position: absolute;
  top: 0.7em;
  left: 0.9em;
  transition: all 150ms ease-in;
  padding: 0.1em 0.4em;
  pointer-events: none;
  font-size: 0.9em;
  border-radius: 1em;
  background: transparent;
  height: 1.3em;
  overflow: hidden;
  max-width: calc(100% - 2em);
  word-break: break-all;
  font-size: 0.95em;
}
.form-group label.activo {
  top: -0.7em;
  left: 0.7em;
  bottom: auto;
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  z-index: 1;
  background: #FFFFFF;
}
.form-group select, .form-group input {
  height: 3em;
  font-size: 0.95em;
}
.form-group select:active, .form-group select:focus, .form-group input:active, .form-group input:focus {
  border-color: #37474f;
}
.form-group select[disabled], .form-group input[disabled] {
  color: #9E9E9E;
  border-style: dotted;
  border-color: #9E9E9E;
}
.form-group input, .form-group select, .form-group textarea {
  border: 2px solid #757575;
}
.form-group input[readonly], .form-group select[readonly], .form-group textarea[readonly] {
  background: #EEEEEE;
  color: #555;
}
.form-group textarea {
  resize: vertical;
}
.form-group select {
  border-radius: 4px;
  padding: 0 0.8em;
  outline: none;
  min-width: 5em;
  width: inherit;
}
.form-group select option {
  padding: 1em;
  list-style: 2em;
}
.form-group input {
  display: flex;
  border-radius: 4px;
  outline: none;
  padding: 0 0.7em;
}
.form-group .help-block {
  display: block;
  font-size: 0.8em;
  margin: 0.3em 0.7em;
  position: relative;
  line-height: 1.1em;
  background: #FFFFFF;
  display: none;
}
.form-group .hint-block {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.7em;
  color: #555;
}
.form-group.required > label::after {
  content: "*";
  padding-left: 0.2em;
}
.form-group.has-error {
  color: #F44336;
}
.form-group.has-error label {
  color: #F44336;
}
.form-group.has-error select,
.form-group.has-error input {
  border-color: #F44336;
}
.form-group.has-error .hint-block {
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
.form-group.has-error .help-block:empty {
  display: none;
}
.form-group.textarea textarea {
  border-radius: 4px;
  padding: 1em;
  resize: vertical;
  height: 5em;
  min-height: 5em;
  font-size: 0.95em;
}
.form-group.textarea .help-block {
  position: static;
}
.form-group.checkbox {
  padding: 0;
}
.form-group.checkbox input {
  height: 0;
}
.form-group.checkbox > label {
  padding: 0;
  background: transparent;
  position: relative;
  min-height: 3em;
  height: auto;
  top: auto;
  left: auto;
  pointer-events: auto;
  width: 100%;
  word-break: normal;
  overflow: inherit;
  max-width: inherit;
  padding: 0.8em 0 0.8em 0.5em;
}
.form-group.checkbox > label > span.box {
  padding-left: 2.3em;
  height: auto;
}
.form-group.checkbox.required > label::after {
  content: "";
}
.form-group.checkbox.required .label::after {
  content: " *";
}
.form-group.checkbox-list > input + div {
  margin-top: 1em;
}
.form-group.checkbox-list > div > label {
  display: flex;
  position: initial;
  pointer-events: all;
  height: inherit;
  overflow: visible;
  transition: none;
  margin-bottom: 0.3em;
  word-break: normal;
}
.form-group.radiolist {
  margin-top: 0;
}
.form-group.radiolist > [role=radiogroup] {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.1em;
}
.form-group.radiolist > [role=radiogroup] > label {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: static;
  pointer-events: auto;
  font-size: 1em;
  height: auto;
  color: #37474f;
  line-height: 1.1em;
  overflow: visible;
}
.form-group.radiolist > [role=radiogroup] > label:not(:last-child) {
  margin-right: 0.5em;
}
.form-group.radiolist > [role=radiogroup] > label input {
  display: block;
  margin: 0 0.8em 0 0.3em;
}
.form-group.radiolist > label {
  position: static;
  font-size: 0.8em;
  font-weight: 500;
  display: block;
}

.form {
  background: #FFF;
  border-radius: 0.6em;
}
.form .fieldset {
  padding: 1.2em 1.5em;
  border: 1px solid #DDDDDD;
  margin-bottom: 1em;
}
.form .fieldset .filas {
  padding: 0;
}
.form .fieldset header {
  display: flex;
  justify-content: space-between;
}
.form .fieldset header .informacion {
  display: flex;
}
.form .fieldset header .informacion .icono,
.form .fieldset header .informacion .titulo .nombre {
  font-size: 2em;
}
.form .fieldset header .informacion .icono i.mdi {
  color: #37474F;
  margin-right: 0.4em;
  margin-left: -0.2em;
}
.form .fieldset header .informacion .titulo .nombre {
  font-weight: bold;
}
.form .fieldset header .estado .icono {
  display: none;
  color: #90A4AE;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
}
.form .fieldset header .estado .icono .mdi {
  font-size: 2em;
  margin-left: 0.2em;
}
.form .fieldset main {
  margin-top: 1.5em;
}
.form .fieldset footer {
  padding-left: 0.5em;
  margin-top: 1.5em;
  display: flex;
}
.form .fieldset footer .botones {
  display: flex;
}
.form .fieldset footer .botones .boton {
  margin-right: 0.7em;
}
.form .fieldset.error header .estado .icono.error {
  display: flex;
  color: #EF5350;
}
.form .fieldset.pendiente header .estado .icono.pendiente {
  display: flex;
  color: #AAA;
}
.form .fieldset.activo header .estado .icono.activo {
  display: flex;
}
.form .fieldset.listo header .estado .icono.listo {
  display: flex;
  color: #81C784;
}
.form .filas {
  background: #FFF;
  border-radius: 0.6em;
  padding: 1.2em 1.5em;
}
.form .filas .titulo {
  margin-left: 1rem;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.form .filas .titulo .mdi {
  color: #555;
  margin-right: 0.5em;
}
.form .filas .fila {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.form .filas .fila.completa {
  flex-wrap: nowrap;
}
.form .filas .fila.completa .campo {
  width: 100%;
}
.form .filas .fila .campo {
  display: flex;
  align-items: baseline;
  padding: 0.6em 0 1.3em 0;
  position: relative;
}
.form .filas .fila .campo > .mdi {
  font-size: 1.6em;
  color: #455a64;
  margin: 0em 1rem 0em 0.3rem;
}
.form .filas .fila .campo.ancho {
  width: 100%;
}
.form .filas .fila .campo.grande {
  width: 100%;
  margin-right: 0;
}
.form .filas .fila .campo:not(:last-child):not(.grande) {
  margin-right: 2em;
}
.form .filas .fila .campo.estrecho {
  padding: 0;
}
.form .filas .fila .campo.estrecho .form-group {
  margin: 0;
  padding: 0;
}
.form .filas .fila:not(:last-child) {
  margin-bottom: 1em;
}
.form .opciones {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #E7E7E7;
  background: #FAFAFA;
  background: linear-gradient(0deg, #FFFFFF 0%, #f7f7f7 100%);
  z-index: 10;
  border-radius: 0 0 0.6em 0.6em;
}
.form .opciones .opcion {
  margin-left: 0.5em;
}
.form .opciones .opcion .btn {
  background: #546e7a;
  color: #FFF;
}
.form .opciones .opcion .btn:hover {
  background: #455a64;
}
.form button {
  cursor: pointer;
}

.form .desplegable > div {
  padding: 0.644em 0.8em;
  border-width: 0.15em;
  border-radius: 0.3em;
  min-height: 2.85em;
}
.form .desplegable > ul {
  padding: 0.3em 0;
}
.form .desplegable > ul > li {
  min-height: 1.711em;
  padding: 0.2em 0.8em;
}

.form.filtro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5em 1em 1.2rem;
  border-radius: 0;
  position: sticky;
  top: 0em;
  z-index: 100;
  border-bottom: 1px solid #EEE;
}
.form.filtro .fila {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.form.filtro .fila:not(:last-child) {
  margin-bottom: 0.5em;
}
.form.filtro .fila .campo {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.form.filtro .fila .campo > .mdi {
  font-size: 1.2em;
  color: #999;
  margin-right: 0.3em;
}
.form.filtro .fila .campo:not(:last-child) {
  margin-right: 1em;
}
.form.filtro .fila .campo .form-group {
  background: none;
}
.form.filtro .fila .campo .form-group label {
  font-size: 0.8em;
  font-weight: 500;
  color: #37474f;
  position: static;
  padding: 0;
}
.form.filtro .fila .campo .form-group input, .form.filtro .fila .campo .form-group select {
  height: 2.2em;
  border-color: #DDD;
  border-width: 1px;
  color: #999;
  width: 100%;
  background-color: #f8f8f8;
}
.form.filtro .fila .campo .form-group input:focus, .form.filtro .fila .campo .form-group select:focus {
  border-color: #B0BEC5;
  color: inherit;
}
.form.filtro .fila .campo .form-group select {
  padding-left: 0.2em;
}
.form.filtro .fila .campo .form-group input {
  padding-left: 0.5em;
}
.form.filtro .fila .campo .form-group input::placeholder {
  color: #999;
}
.form.filtro .fila .campo.activo .mdi {
  color: #555;
}
.form.filtro .fila .campo.activo input, .form.filtro .fila .campo.activo select {
  color: inherit;
  background-color: #FFF;
}
.form-group.ql label {
  top: 3.5em;
  left: 0.7em;
  height: 1.4em;
  transition-duration: 190ms;
  z-index: 1;
}
.form-group.ql label.activo {
  top: -0.7em;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=checkbox] + div.box,
[type=checkbox] + div.box + div.label {
  display: inline-block;
  vertical-align: top;
}

[type=checkbox] + div.box + div.label {
  margin-left: 1em;
  user-select: none;
}

[type=checkbox] + div.box {
  cursor: pointer;
  user-select: none;
  width: 1.4em;
  min-width: 1.4em;
  height: 1.4em;
}
[type=checkbox] + div.box:before, [type=checkbox] + div.box:after {
  display: block;
  content: "";
  position: absolute;
  transition: background-color 0.2s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
  z-index: 1;
}
[type=checkbox] + div.box:after {
  border-radius: 0.2em;
  width: 1.1em;
  height: 1.1em;
}
[type=checkbox]:not(:checked):disabled + div.box:before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}
[type=checkbox]:not(:checked) + div.box:after {
  background-color: transparent;
  border: 2px solid #5a5a5a;
  z-index: 0;
}
[type=checkbox]:checked + div.box:before {
  content: "";
  position: absolute;
  width: 0.8em;
  height: 0.35em;
  border: solid 0.15em #FFF;
  border-right: none;
  border-top: none;
  transform: translate(0.2em, 0.35em) rotate(-47deg);
}
[type=checkbox]:checked + div.box:after {
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0;
}
[type=checkbox]:disabled:not(:checked) + div.box:before {
  background-color: transparent;
  border: 2px solid transparent;
}
[type=checkbox]:disabled:not(:checked) + div.box:after {
  border-color: transparent;
  background-color: #949494;
}
[type=checkbox]:disabled:checked + div.box:before {
  background-color: transparent;
}
[type=checkbox]:disabled:checked + div.box:after {
  background-color: #949494;
  border-color: #949494;
}

/**
 * Radio
 */
[type=radio]:not(:checked),
[type=radio]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type=radio]:not(:checked) + span,
[type=radio]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-break: break-word;
}

[type=radio] + span:before,
[type=radio] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.2em;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: 0.28s ease;
  transition: 0.28s ease;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after,
[type=radio]:checked + span:before,
[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border-radius: 50%;
}

[type=radio]:not(:checked) + span:before,
[type=radio]:not(:checked) + span:after {
  border: 2px solid #5a5a5a;
}

[type=radio]:not(:checked) + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type=radio]:checked + span:before {
  border: 2px solid transparent;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:before,
[type=radio].with-gap:checked + span:after {
  border: 2px solid #26a69a;
}

[type=radio]:checked + span:after,
[type=radio].with-gap:checked + span:after {
  background-color: #26a69a;
}

[type=radio]:checked + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

[type=radio].with-gap:checked + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

[type=radio]:focus + span:before {
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1);
}

[type=radio].with-gap:disabled:checked + span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

[type=radio].with-gap:disabled:checked + span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:not(:checked) + span:before,
[type=radio]:disabled:checked + span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled + span {
  color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:not(:checked) + span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

[type=radio]:disabled:checked + span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}

/**
 * Definicion de estilos
 */
@media only screen and (max-width: 800px) {
  #examenes .examen {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  #header {
    position: sticky;
    top: 0;
    background: #FFF;
    box-shadow: 0 0 0.6em -0.3em #000;
    z-index: 999999;
  }
  #logo img {
    width: 100%;
    height: auto;
  }
  #entrar-wrapper {
    display: none;
  }
  #footer .informacion {
    display: flex;
    padding: 2em 1em;
    flex-direction: column;
  }
  #footer .informacion .columna {
    margin: 0;
    width: 100%;
    margin: 0 0 3em;
  }
  #footer .informacion .columna .contenido {
    line-height: 1.6em;
  }
  .banner-contenido {
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .banner-contenido .texto {
    padding: 2em;
  }
  .banner-contenido .texto .titulo {
    font-size: 2rem;
    text-shadow: 0 0 5em #000, 0 0 0.1em rgba(0, 0, 0, 0.8);
  }
  .banner-contenido .texto .descripcion {
    font-size: 1.5rem;
    text-shadow: 0 0 5em #000, 0 0 0.1em rgba(0, 0, 0, 0.8);
  }
  #menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 5.2rem;
    left: 0;
    background: #FFF;
    margin: 0;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0.1em 1em -0.5em #000;
    z-index: 1;
  }
  #menu > li {
    text-align: center;
    margin: 0.5em 0;
  }
  #menu > li > a.btn {
    margin-left: 0;
  }
  #btn-menu {
    border: none;
    background: none;
    font-size: 3em;
    display: block;
    padding: 0em 0.5rem 0em 1.5rem;
    cursor: pointer;
  }
  #btn-carro {
    border-radius: 0.3em;
    min-width: 4em;
  }
  #link-telemedicina {
    background: inherit;
  }
  #compra {
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding: 0;
  }
  #informacion {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
  }
  #monto {
    width: 100%;
  }
  /**
   * Form
   */
  .form .fieldset {
    padding: 1em;
  }
  .form .fieldset header .informacion .icono,
  .form .fieldset header .informacion .titulo .nombre {
    font-size: 1.3em;
  }
  .form .filas .fila .campos.flex {
    display: flex;
    flex-direction: column;
  }
  .form .fieldset header > .estado {
    display: none;
  }
  .form-group.radiolist > label {
    display: block;
    height: auto;
    word-break: break-word;
    margin-bottom: 0.5em;
  }
  .form-group.radiolist > [role=radiogroup] > label {
    white-space: normal;
    word-break: break-word;
    margin-bottom: 0.5em;
  }
  .form .fieldset footer {
    padding-left: 0;
  }
  .form .fieldset footer .botones .boton {
    margin-right: 0;
  }
  #terminos .filas .fila .icono {
    display: none;
  }
  .btn.bajo,
  .btn-flat.bajo {
    height: auto;
    line-height: 0.5em;
    padding: 0.4em 1.5em 0.8em;
  }
  #orden .ficha > main {
    margin-left: 0;
  }
  #orden > main {
    padding: 0 0.5em;
  }
  #mensaje > header,
  #orden > header,
  #comprobante-pago > header {
    padding: 1em 1em;
  }
}
#buscador .mdi {
  font-size: 2em;
}

.hide {
  display: none;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  width: var(--w);
  aspect-ratio: 1.01;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.animate {
  animation: p 1s 0.5s both;
}

@keyframes p {
  from {
    --p: 0 ;
  }
}

/*# sourceMappingURL=styles.css.map */
