body {
  overflow-y: scroll;
}
#mensaje {
  position: fixed;
  background: #ECEFF1;
  color: #78909C;
  padding: 1em 1.5em 0.8em 1.5em;
  right: 1em;
  bottom: 1em;
  border-radius: 0.5em;
      border-radius: 2em;
    box-shadow: 0 0 0.8em -0.5em #000;
    display: none;
}
#mensaje .mdi {
  color: #AED581;
  font-size: 1.6em;
  vertical-align: sub;
  padding-left: 0.4em;
}
#main {
  background: #f7f8f8 !important;
}
#cuestionario {
  margin-bottom: 3em;
}
#cuestionario.form {
  background: none;
}
#cuestionario .form-group.radiolist .input {
  margin-left: 2.3em;
  margin-bottom: 0.5em;
}
#cuestionario .form-group.radiolist > [role="radiogroup"] {
  display: flex;
  flex-direction: column;
}
#cuestionario .form-group.radiolist > [role="radiogroup"] > label {
}
#cuestionario .form-group.checkbox label {
  padding: 0.5em 0 0.5em 0.5em;
  min-height: 2em;
}
#cuestionario .form-group textarea {
  border: none;
  border-bottom: 2px solid #CCC;
  outline: none;
  resize: none;
  font-size: 1rem;
  height: 1.8em;
  font-family: Roboto;
}
#cuestionario .form-group input {
  border: none;
  border-bottom: 2px solid #CCC;
  border-radius: 0;
}
#cuestionario .form-group input:focus,
#cuestionario .form-group textarea:focus {
  border-color: #3F51B5;
}

#cuestionario .form-group.checkbox input {
  height: 3em;
  margin-left: 2.3em;
  margin-bottom: 0.5em;
}

#secciones {
  display: flex;
  overflow: hidden;
}
#secciones .seccion {
  white-space: nowrap;
  padding: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ficha.lista.seccion > header .opciones {
  background: none;
  border-top: none;
}
.ficha.seccion footer {
  display: flex;
  justify-content: flex-end;
}
.ficha.seccion footer .opciones {
  border-top: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.ficha.seccion footer .opciones .opcion .btn {
  background: #0D47A1;
  color: #FFF;
}
#progreso {
  width: 10rem;
  height: 1rem;
  margin: 0 1em;
  border-radius: 1em;
}

.lista.seccion {
  display: none;
}
.lista.seccion.activo {
  display: block;
}

.item {
  display: flex;
}
.item.error {
}
.item:not(:last-child) {
  margin-bottom: 2rem;
}
.item .pregunta {
  background: #FEFEFE;
  padding: 1.3em 2.5em 1em 1.5em;
  border: 1px solid #DDD;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #E5E5E5;
  border-radius: 1em;
  display: flex;
  width: 55%;
}
.item .pregunta:hover {
  box-shadow: 0 0.05em 0.4em -0.2em #777;
  background: #FFF;
}
.item .pregunta .numero {
  padding: 0 1em 0 0;
  font-weight: 500;
}
.item .pregunta .contenido {
  width: 100%;
}
.item .mensaje-error {
  font-size: 0.95em;
  color: red;
}
.item .respuesta {
  padding: 1em 0;
}
.item .ayuda {
  padding: 1.5em 1em 0.8em 2em;
  font-size: 0.95em;
  width: 45%;
}
.item .titulo {
}
.item .numero,
.item .titulo .nombre {
  line-height: 1.6em;
}
.item .titulo .nombre {
  color: #000;
  font-weight: 500;
}
.item .titulo .descripcion {
  font-size: 0.9em;
  margin: 0.3em 0;
}
#header {
  position: relative;
  display: none;
}
#footer {
  display: none;
}

#cuestionario-header {
  background: #FFF;
  border-bottom: 1px solid #DDD;
  padding: 1em 0;
}
#cuestionario-header > div {
  display: flex;
  align-items: center;
  padding: 1em 0;
}
#cuestionario-header img {
  height: 3rem;
}
#cuestionario-header .nombre {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0 2em;
  width: 100%;
}
