@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../../common/resources/scss/vars.scss';

* {
  font-family: 'Noto Sans', 'Tahoma', sans-serif;
}

#pagina {
  background: hsl(204 20% 96%);
}
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  &.sin-menu {
    border-bottom: 1px solid #DDD;
  }
  > div {
    display: flex;
  }
  #logo {
    display: block;
    width: 100%;
    height: 4em;
    padding: 0.5em 1em;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  .izquierda {
    width: 16rem;
  }
  .central {
    width: 100%;
  }
}
#body {
  display: flex;
  padding: 0em 0 1em 0;
  &.sin-menu {
    #contenido {
      #main {
        overflow-y: auto;
        height: calc(100vh - 8.1rem);
      }
      width: 100%;
      #lateral {
        width: 20rem;
        min-width: 20rem;
        max-width: 20rem;
        border-radius: 0;
      }
    }
  }
}

#contenido {
  display: flex;
  flex-direction: row;
  border-radius: 0.9em;
  background: #FFF;
  width: calc(100% - 15rem);
}

#principal {
  width: 100%;
}

#main {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 0.3em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #BBB;
  }
  .ficha.sticky {
    position: sticky;
    top: 0;
    z-index: 99999;
  }
}

#lateral {
  background: #FFF2;
  border-left: 1px solid #f0f3f4;
  border-left: 1px solid #EEE;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  padding: 1.2em 1em 1em 1em;
  font-size: 0.9em;
  height: calc(100vh - 6rem);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    // background: #FFF;
  }
  &::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 0.3em;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #BBB;
  }
  .divider {
    border: 1px solid #EEEEEE;
    height: 0.01px;
    border-radius: 1em;
    margin: 1.2em;
    border-bottom-color: #F3F3F3;
  }
  .btn, .btn-flat {
    width: 100%;
    justify-content: flex-start;
    // padding: 0.7em 1.5em 0.7em 1.2em;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  .principal {
    margin-bottom: 1em;
    .btn, btn-flat {
      font-size: 1rem;
      margin-bottom: 0.3em;
    }
  }
  .secundario {
    font-size: 0.95em;
    .ficha {
      > main {
        padding: 0;
        .fila {
          margin: 0;
        }
      }
    }
    > .titulo {
      font-size: 1.2em;
      font-weight: 700;
      margin: 0.5em 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: baseline;
      color: #424242;
      .mdi {
        font-size: 1.1em;
        margin-right: 0.3em;
        color: #616161;
        line-height: 1em;
      }
    }
  }
  .link {
    padding: 0.6em 1em;
    display: block;
    font-weight: 500;
    border-radius: 0.3em;
    margin-bottom: 0.2em;
    color: #456453;
    position: relative;
    .numero {
      position: absolute;
      right: 0.8em;
      padding: 0.1em 0.5em;
      border-radius: 2em;
      font-weight: 700;
      font-size: 0.9em;
      color: #757575;
      background: #00000011;
    }
    .mdi {
      font-size: 1.4em;
      line-height: 1em;
      vertical-align: text-top;
      margin-right: 0.1em;
    }
    &:hover {
      background: #EEE;
    }
    &.activo {
      background: #E7E7E7;
    }
    &.peligroso {
      color: #555;
      &:hover {
        color: #E53935;
      }
    }
  }
}

#menu {
  border-radius: 0 $border-radius $border-radius 0;
  overflow: hidden;
  height: calc(100vh - 4em);
  display: flex;
  width: 15em;
  border-right: 1px solid #EEE;
  ul {
    width: 100%;
    padding: 0.5em 0.5em 1em 0em;
    display: flex;
    flex-direction: column;
    li.divider {
      margin: 0.3em 1em 0.5em 0em;
      border-top: 2px solid #CFD8DC;
    }
    li {
      margin-bottom: 0.2rem;
      a {
        font-weight: 500;
        color: #555;
        padding: 0.3em 1em;
        display: flex;
        align-items: center;
        border-radius: 0em 2em 2em 0;
        letter-spacing: -0.01em;
        position: relative;
        border-bottom: 1px solid transparent;
        transition: background-color 100ms;
        .numero {
          position: absolute;
          right: 0.8em;
          padding: 0.1em 0.5em;
          border-radius: 2em;
          font-weight: 700;
          font-size: 0.9em;
          color: #757575;
        }
        .chevron {
          position: absolute;
          right: 2.5em;
          padding: 0.1em 0.5em;
          border-radius: 2em;
          font-weight: 700;
          font-size: 0.9em;
          color: #757575;
          &:hover {
            background: #00000011;
          }
          .mdi {
            margin-right: 0;
          }
        }
        .mdi {
          margin-right: 0.3em;
          font-size: 1.6em;
        }
        &.subactivo {
          background-color: #f2ebeb;
          border-bottom: 1px solid #eed6d544;
        }
        &:hover {
          background-color: #edf3f7;
        }
        &.activo {
          background: #d4e2ed;
          color: #424242;
          .numero {
            background: #00000022;
            color: #455A64;
          }
        }
      }
      ul {
        padding: 0;
        width: calc(100% - 0.3rem);
        margin-left: 0.5rem;
        padding-right: 0.5rem;
        border-left: 2px solid #eed6d5;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        margin-bottom: 0;
        li.divider {
          margin: 0.1em 1.5em 0.3em 0em;
          border-top: 2px solid #f2ebeb;
        }
        li {
          a {
            padding: 0.2em 1em 0.2em 1em;
            .mdi {
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}

#botones-usuario {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  > li {
    position: relative;
    margin: 0.3em;
    > a {
      padding: 0.2em 1em;
      font-size: 1rem;
      .mdi {
        font-size: 1.6rem;
      }
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      box-shadow: 0 0.1em 0.4em -0.2em #000;
      min-width: 100%;
      background: #FFF;
      padding: 0.3em 0;
      border-radius: 0.3em;
      li {
        &:hover {
          background: #EEE;
        }
        a {
          padding: 0.5em 1em;
          display: flex;
          align-items: center;
          color: #546E7A;
          .mdi {
            font-size: 1.6em;
            line-height: 1em;
            margin-right: 0.4em;
          }
        }
      }
      &.activo {
        display: block;
        right: 0;
      }
    }
    &.activo {
      #boton-usuario {
        outline: 2px solid #a5b8c0;
      }
      ul {
        display: block;
      }
    }
  }
}

#menu-usuario {
  #boton-usuario {
    background: #cedbe8;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    .mdi {
      margin-left: 0.3em;
    }
  }
}

#header {
  padding: 0.6rem 1rem 0.6rem 1.3rem;
  // background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  position: sticky;
  top: 0;
  z-index: 10;
  max-width: 100%;
  overflow: hidden;
  .izq {
    display: inline-flex;
    align-items: center;
    max-width: calc(100% - 15rem);
    &.sola {
      max-width: 100%;
    }
    > .mdi {
      color: #20364c;
      margin-right: 0.5em;

    }
  }
  .opciones {
    display: flex;
    align-items: center;
    .btn, .btn-flat {
      margin-left: 0.5rem;
      .mdi {
        line-height: normal;
      }
    }
  }
  .mdi {
    font-size: 1.4em;
  }
  .btn-atras {
    padding: 0.3em 1.5em 0.3em 0.5em;
    color: #000;
  }
}


.ficha .campo.lista .ficha main {
  padding: 0;
}
.ficha .campo.lista .ficha main .lista header {
  padding: 0;
  margin-bottom: 0;
}
.ficha .campo.lista .ficha footer {
  justify-content: flex-end;
}
