@import '../../../common/resources/scss/vendor/reset.scss';

@import '../../../common/resources/scss/html.scss';
@import '../../../common/resources/scss/helpers.scss';
@import '../../../common/resources/scss/elementos.scss';
@import '../../../common/resources/scss/override.scss';

@import 'layout.scss';
@import 'ficha.scss';
@import 'lista.scss';

@import '../../../common/resources/scss/form.scss';

.chip.alerta {
  background: #FDD835;
}
.chip.error {
  background: #E53935;
  color: #FFEBEE;
}
.chip.parametro {
  color: #444;
  background: #bbdefb;
  max-width: 14em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.lista-archivos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #E0F2F1;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.4em solid #E0F2F1;
    position: relative;
    cursor: pointer;
    margin-right: 0.5em;
    &:hover {
      background: #B2DFDB;
      border-color: #B2DFDB;
      transition: all 100ms;
      .opciones {
        opacity: 1;
        transition: all 200ms;
        transition-delay: 200ms;
      }
    }
    &.agregar {
      cursor: pointer;
      flex-direction: column;
      letter-spacing: -0.02em;
      color: #98c7c3;
      font-weight: 600;
      background: #F5F5F5;
      font-size: 0.85rem;
      padding: 0 1em;
      text-align: center;
      border-color: #EAF4F4;
      display: flex;
      justify-content: center;
      .miniatura {
        padding: 1em;
        .mdi {
          font-size: 2.4rem;
          color: inherit;
        }
      }
      &:hover {
        color: #00695C;
        transition: all 300ms;
      }
    }
    .miniatura {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 2rem);
      background: #F7F7F7;
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
      &.pdf {
        width: calc(100% + 16px);
        align-self: flex-start;
      }
      i.mdi {
        font-size: 3.6em;
        color: #00695C;
      }
    }
    .informacion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0.1em 0.3em 0 0.3em;
      width: 100%;
      height: 1.7rem;
      .nombre {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: -0.03em;
      }
    }
    .opciones {
      opacity: 0;
      bottom: 0.1rem;
      right: 0.1rem;
      position: absolute;
      display: flex;
      .opcion {
        margin-left: 0.3em;
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          border-radius: 0.5rem;
          box-shadow: 0 0 0.3em -0.15rem #000;
          background: #4DB6AC;
          color: #00695C;
          padding: 0;
          i.mdi {
            margin: 0;
          }
        }
      }
    }
  }
}

.chip {
  &.estado-telemedicina {
    border-radius: 0.2em;
    &.estado-0 {
      background: #EEEEEE;
    }
    &.estado-1 {
      background: #BBDEFB;
    }
    &.estado-50 {
      background: #C5CAE9;
    }
    &.estado-70 {
      background: #F8BBD0;
    }
    &.estado-100 {
      background: #CFD8DC;
    }
  }
  &.estado-orden {
    border-radius: 0.2em;
    &.estado-1 {
      background: #BBDEFB;
    }
    &.estado-20 {
      background: #C5CAE9;
    }
    &.estado-30 {
      background: #C5E1A5;
    }
    &.estado-40 {
      background: #FFE0B2;
    }
    &.estado-50 {
      background: #F8BBD0;
    }
    &.estado-60 {
      background: #CFD8DC;
    }
  }
  &.tipo-entrega {
    &.tipo-1 { // entrega el cliente
      background: #BBDEFB;
    }
    &.tipo-2 { // retiramos nosotros
      background: #C5CAE9;
    }
    &.tipo-3 { // toma de muestra
      background: #7E57C2;
      color: #FFF;
    }
  }
}

.chip {
  &.estado-paciente-4 {
    background: #F44336;
    color: #FFF;
  }
}

.campo.puntaje input {
  width: 8em;
}

#lateral .ficha > main .fila .campo.error,
#lateral .ficha > main .fila .campo.error .label {
  color: red;
}
